<%= form_tag creation_detail_path(@creation),method: :patch,multipart: true, class:'form-horizontal',id:'creation_form' do %>
<% content_for :js do %><%= javascript_include_tag 'index/creation_form' %><% end %>
<div class="form-group">
  <label class="col-sm-2 control-label">作品标题</label>
  <div class="col-sm-10">
    <input type="text" name="name" v-model="name" class="form-control">
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <label class="col-sm-2 control-label">作者</label>
  <div class="col-sm-10">
    <table class="table table-bordered" id="author_table">
    	<thead>
    		<th>姓名</th>
    		<th>性别</th>
    		<th>所属单位</th>
    		<th>手机号码</th>
    		<th>电子邮箱</th>
    		<th></th>
    	</thead>

    	<tr v-for="(i, e) in authors">
    		<td>
    			<input type="text" name="authors[][name]" v-model="e.name">
    		</td>
    		<td>
          <select name="authors[][sex]" v-model="e.sex">
            <option value="male">男</option>
            <option value="female">女</option>
          </select>
    		</td>
    		<td>
          <input type="text" name="authors[][department]" v-model="e.department"/>
    		</td>
    		<td>
          <input type="text" name="authors[][phone]" v-model="e.phone"/>
    		</td>
    		<td>
          <input type="text" name="authors[][email]" v-model="e.email"/>
    		</td>
    		<td>
            <a class="btn btn-danger btn-sm deleteline" @click="deleteLine(i)" v-show="authors.length > 1"><i class="glyphicon glyphicon-minus"></i></a>
        </td>
    	</tr>

    </table>

    <a class="btn btn-success" id="add_author" @click="addLine"><i class="glyphicon glyphicon-plus"></i> 添加作者</a>

  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <label class="col-sm-2 control-label">作品缩略图</label>
  <div class="col-sm-10">
    <p>支持最大为6M的jpg, png格式图片。如果您希望将视频截图作为缩略图，可以在下一步的流程中使用截图工具截图</p>
    <%= file_field_tag 'thumb', class:'form-control inputfile',data:{size: 6.megabytes.to_i, ext: 'jpg|png' },'@change' => 'file_v' %>
    <img :src="file.thumb.url" alt="" width="230" height="145" v->

    <label for="thumb" :class="{btn: true, 'btn-primary': file.thumb.error == null, 'btn-danger': file.thumb.error !== null}">
      <span v-show="file.thumb.error !== null">
        {{file.thumb.error}}
      </span>

      <span v-show="file.thumb.size == 0">
        <i class="glyphicon glyphicon-plus"></i>上传文件
      </span>
      <span v-show="file.thumb.size !== 0">
        {{file.thumb.filename}}, {{file.thumb.size | sizeInM}}M
      </span>

    </label>


  </div>
</div>

<div class="hr-line-dashed"></div>


<div class="form-group">
  <label class="col-sm-2 control-label">登记表</label>
  <div class="col-sm-10">
    <p>仅支持不超过10M的doc, docx格式文档</p>

    <%= file_field_tag 'doc', class:'form-control inputfile',data:{size: 10.megabytes.to_i, ext: 'doc|docx' },'@change' => 'file_v' %>
    <label for="doc"  :class="{btn: true, 'btn-primary': file.doc.error == null, 'btn-danger': file.doc.error !== null}">
      <span v-show="file.doc.error !== null">
        {{file.doc.error}}
      </span>

      <span v-show="file.doc.size == 0">
        <i class="glyphicon glyphicon-plus"></i>上传文件
      </span>
      <span v-show="file.doc.size !== 0">
        {{file.doc.filename}}, {{file.doc.size | sizeInM}}M
      </span>

    </label>

  </div>
</div>


<div class="form-group">
  <label class="col-sm-2 control-label">作品课件</label>
  <div class="col-sm-10">
    <p>仅支持不超过50M的PDF格式课件, 您可以将ppt导出成pdf后上传</p>

    <%= file_field_tag 'ppt', class:'form-control inputfile',data:{size: 50.megabytes.to_i, ext: 'pdf' },'@change' => 'file_v' %>
    <label for="ppt" :class="{btn: true, 'btn-primary': file.ppt.error == null, 'btn-danger': file.ppt.error !== null}">
      <span v-show="file.ppt.error !== null">
        {{file.ppt.error}}
      </span>

      <span v-show="file.ppt.size == 0">
        <i class="glyphicon glyphicon-plus"></i>上传文件
      </span>
      <span v-show="file.ppt.size !== 0">
        {{file.ppt.filename}}, {{file.ppt.size | sizeInM}}M
      </span>

    </label>
  </div>
</div>

<div class="hr-line-dashed"></div>


<div class="form-group">
  <label class="col-sm-2 control-label">作品介绍</label>
  <div class="col-sm-10">
    <%= cktext_area_tag :desc, nil, "v-model"=> 'desc',:ckeditor => {:uiColor => '#fefefe',:filebrowserImageBrowseUrl => '', :toolbar => [
      {name:'clipboard', items: ['PasteText', 'PasteFromWord', '-', 'Undo', 'Redo']},
      { name: 'styles', items: ['Format' ] },
      { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', '-', 'RemoveFormat' ] },
      {name: 'insert', items: ['Image', 'Table', 'HorizontalRule']},
      { name: 'tools', items: [ 'Maximize' ] },
      { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList' ] },
      ]}  %>
  </div>
</div>
<div class="hr-line-dashed"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <button class="btn btn-primary btn-block btn-lg">提交并进入下一步</button>
  </div>
</div>

<% end %>
