<div class="sidebar col-md-3">
  <div class="user_avatar">
    <div class="media">
      <div class="media-left">
        <a href="{:U('userinfo')}"><%= image_tag @user.avatar.url || 'index/user.jpg', alt: '用户头像', class:'img-circle' %></a>
      </div>
      <div class="media-body">
        <p><a href="{:U('userinfo')}" id="user_name"><%= @user.realname %></a></p>
        <p>单位：<%= @user.department %></p>
        <p>组别：<%= @user.group_cn %></p>
      </div>
    </div>
  </div>
  <div class="user_menu">
      <ul class="nav nav-list">
        <li class="<%= usercenter_sidebar_active('index') %>">
          <%= link_to usercenter_path do%>
            <i class="glyphicon glyphicon-home"></i> 用户中心首页
          <% end %>
        </li>
        <li class="<%= usercenter_sidebar_active('messages') %>">
          <%= link_to usercenter_messages_path do%>
            <i class="glyphicon glyphicon-envelope"></i> 消息箱
            <!--这里两个span标签之间如果只有一个回车的话显示时也会产生一个小标记-->
            <!--只有什么字符都没有才不会产生标记-->
            <span class="badge badge-info pull-right"><%= @user.unreaded_messages_count > 0 ? @user.unreaded_messages_count : nil %></span>
          <% end %>
        </li>
        <li class="<%= usercenter_sidebar_active('profile') %>">
          <%= link_to usercenter_profile_path do%>
              <i class="glyphicon glyphicon-cog"></i> 修改个人信息
          <% end %>
        </li>
        <li class="<%= usercenter_sidebar_active('creations') %>">
          <%= link_to usercenter_creations_path do%>
              <i class="glyphicon glyphicon-film"></i> 我的作品
          <% end %>
        </li>
        <li class="<%= usercenter_sidebar_active('voted') %>">
          <%= link_to usercenter_voted_path do%>
              <i class="glyphicon glyphicon-heart"></i> 已投票的作品
          <% end %>
        </li>
        <li class="<%= usercenter_sidebar_active('commented') %>">
          <%= link_to usercenter_commented_path do%>
              <i class="glyphicon glyphicon-comment"></i> 已评论的作品
          <% end %>
        </li>
        <li>
          <%= link_to user_logout_path, method: :delete do %>
            <i class="glyphicon glyphicon-log-out"></i> 退出登录
          <% end %>
        </li>
      </ul>
  </div>
</div>
