<div class="usercenter">
	<div class="row">
    <%= render 'sidebar' %>
		<div class="main col-md-9">
      <div class="ibox animated fadeInDown">
        <div class="ibox-title">
          <h3>已评论的作品</h3>
        </div>
        <div class="ibox-content">
          <% if @commented.any? %>
          <table class="table">
            <th>作品名称</th>
            <th>评论内容</th>
            <th>评论时间</th>
            <th>状态</th>
            <th>操作</th>
            <% @commented.each do |v| %>
            <tr>
              <td><%= link_to v.creation.name, creation_path(v.creation.name)  %></td>
              <td><%= v.message %></td>
              <td><%= v.created_at.strftime("%m-%d %H:%M") %></td>
              <td><%= v.is_hide? ? "被管理员或作者隐藏": "正常" %></td>
              <td><button class="btn btn-default btn-sm cancel_comment" data-cid="<%= v.id %>" data-id="<%= v.creation.name %>">删除评论</button></td>
            </tr>
            <% end %>
          </table>
          <% else %>
            <p>您暂时还没有评论作品</p>
          <% end %>
        </div>
      </div>

		</div>
	</div>
</div>
