<div class="usercenter">
	<div class="row">
    <%= render 'sidebar' %>
		<div class="main col-md-9">
      <% unless flash[:notice].nil? %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if @user.errors.any? %>
      <div class="ibox animated fadeInDown">
        <div class="ibox-title ibox-info">
          <h3>作品上传权限检测</h3>
        </div>
        <div class="ibox-content">
          <p class="text-warning">
            作品上传功能要求填写完善的个人信息，请按照下表完善后重试
          </p>
          <table class="table">
            <tr>
              <td width="30%">头像</td>
              <%= usercenter_creations_check_table(@user, :avatar) %>
              <td width="30%">真实名称 <span data-toggle="tooltip" data-placement="top" title="必须是2-4个中文字符"><i class="glyphicon glyphicon-info-sign" ></i></span> </td>
              <%= usercenter_creations_check_table(@user, :realname) %>
            </tr>
            <tr>
              <td>性别</td>
              <%= usercenter_creations_check_table(@user, :sex) %>
              <td>组别</td>
              <%= usercenter_creations_check_table(@user, :group) %>
            </tr>
            <tr>
              <td>所属单位</td>
              <%= usercenter_creations_check_table(@user, :department) %>
              <td>手机号</td>
              <%= usercenter_creations_check_table(@user, :phone) %>
            </tr>
            <tr>
              <td>电子邮箱</td>
              <%= usercenter_creations_check_table(@user, :email) %>
              <td>电子邮箱验证
                <% if @user.errors[:email_validate].any? %>
                  <%= link_to '发送验证邮件', user_email_verify_path(@user.name), method: :post %>
                <% end %>
              </td>
              <%= usercenter_creations_check_table(@user, :email_verify) %>
            </tr>
          </table>

        </div>
      </div>

      <% else %>
      <!-- 用户有权上传作品的情况 -->


      <div class="ibox animated fadeInDown">
        <div class="ibox-title">
          <h3>我的作品</h3>
        </div>
        <div class="ibox-content">
          <% @creations.each do |c| %>
          <div class="file-box">
            <div class="file creation_detail" data-id="<%= c.id %>">
              <a href="#">
                <span class="corner"></span>
                <div class="image">
                  <%= image_tag c.thumb.url(:thumb) %>
                </div>
                <div class="file-name">
                  <%= c.name %><br><small><%= c.status_cn %></small>
                </div>
              </a>
            </div>
          </div>
          <% end %>
          <div class="file-box">
            <div class="file">
              <%= link_to usercenter_creations_new_path do %>
                <span class="corner"></span>
                <div class="icon">
                  <i class="glyphicon glyphicon-film"></i>
                </div>
                <div class="file-name">
                  添加新作品<br><small>点击进入新建作品页面</small>
                </div>
              </a>
              <% end %>
            </div>
          </div>


          <div class="clear"></div>


        </div>
      </div>

      <div class="ibox animated fadeInDown">
        <div class="ibox-title">
          <h3>往届作品</h3>
        </div>
        <div class="ibox-content">

        </div>
      </div>
      <% end %>



		</div>
	</div>
</div>


<div class="modal fade" id="creation_detail_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" v-show="loading">正在加载中</h4>
        <h3 class="modal-title" v-show="!loading">{{name}}</h3>
      </div>
      <div class="modal-body" v-show="loading">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>
      <div v-show="!loading">
        <div v-show="thumb.indexOf('nothumb')<0">
          <img :src="thumb" alt="" width="50%" style="margin: 10px auto 10px 25%">
        </div>
        <table class="table">
          <tr>
            <td width="120px">作者</td>
            <td colspan="3">
              <span class="label label-primary" v-for="a in authors" style="margin-right: 5px">
                {{a.name}}
              </span>
            </td>
          </tr>
          <tr>
            <td>简介</td>
            <td colspan="3">{{{summary}}}</td>
          </tr>
          <tr>
            <td>当前状态</td>
            <td>{{status}}</td>
            <td>最后修改日期</td>
            <td>{{updated_at}}</td>

          </tr>
          <tr>
            <td>浏览量</td>
            <td>{{view_count}}</td>
            <td width="120px">投票数</td>
            <td>{{vote_count}}</td>
          </tr>
          <tr>
            <td>登记表</td>
            <td>
              <span v-show="doc !== ''">
                <a :href="doc.url" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> 下载</a>
              </span>
              <span v-show="doc == ''">
                尚未上传
              </span>

            </td>
            <td>演示文稿</td>
            <td>
              <span v-show="ppt !== ''">
                <a :href="ppt.url" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> 下载</a>
              </span>
              <span v-show="ppt == ''">
                尚未上传
              </span>
            </td>
          </tr>
          <tr>
            <td>文件</td>
            <td colspan="3">
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">


        <button v-show="isDraft" type="button" class="btn btn-danger" @click.prevent="deleteCreation()">删除作品</button>

        <a v-show="isDraft" href="/usercenter/creations/{{id}}/edit" class="btn btn-primary">编辑</a>
        <button v-show="isDraft" @click.prevent="publish()" type="button" class="btn btn-success">申请发布</button>
        <button v-show="canUnpublish" @click.prevent="unPublish()" type="button" class="btn btn-success">申请取消发布</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->