<div class="usercenter">
	<div class="row">
    <%= render 'sidebar' %>
		<div class="main col-md-9">
      <% unless flash[:notice].nil? %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if @user.errors.any? %>
      <div class="ibox animated fadeInDown">
        <div class="ibox-title ibox-info">
          <h3>作品上传权限检测</h3>
        </div>
        <div class="ibox-content">
          <p class="text-warning">
            作品上传功能要求填写完善的个人信息，请按照下表完善后重试
          </p>
          <table class="table">
            <tr>
              <td width="30%">头像</td>
              <%= usercenter_creations_check_table(@user, :avatar) %>
              <td width="30%">真实名称 <span data-toggle="tooltip" data-placement="top" title="必须是2-4个中文字符"><i class="glyphicon glyphicon-info-sign" ></i></span> </td>
              <%= usercenter_creations_check_table(@user, :realname) %>
            </tr>
            <tr>
              <td>性别</td>
              <%= usercenter_creations_check_table(@user, :sex) %>
              <td>组别</td>
              <%= usercenter_creations_check_table(@user, :group) %>
            </tr>
            <tr>
              <td>所属单位</td>
              <%= usercenter_creations_check_table(@user, :department) %>
              <td>手机号</td>
              <%= usercenter_creations_check_table(@user, :phone) %>
            </tr>
            <tr>
              <td>电子邮箱</td>
              <%= usercenter_creations_check_table(@user, :email) %>
              <td>电子邮箱验证
                <% if @user.errors[:email_validate].any? %>
                  <%= link_to '发送验证邮件', user_email_verify_path(@user.name), method: :post %>
                <% end %>
              </td>
              <%= usercenter_creations_check_table(@user, :email_verify) %>
            </tr>
          </table>

        </div>
      </div>

      <% else %>
      <!-- 用户有权上传作品的情况 -->


      <div class="ibox animated fadeInDown">
        <div class="ibox-title">
          <h3>我的作品</h3>
        </div>
        <div class="ibox-content">
          <% @creations.each do |c| %>
          <div class="file-box">
            <div class="file">
              <a href="#">
                <span class="corner"></span>
                <div class="image">
                  <%= image_tag c.thumb %>
                </div>
                <div class="file-name">
                  <%= c.name %><br><small><%= c.status_cn %></small>
                </div>
              </a>
            </div>
          </div>
          <% end %>
          <div class="file-box">
            <div class="file">
              <%= link_to usercenter_creations_new_path do %>
                <span class="corner"></span>
                <div class="icon">
                  <i class="glyphicon glyphicon-film"></i>
                </div>
                <div class="file-name">
                  添加新作品<br><small>点击进入新建作品页面</small>
                </div>
              </a>
              <% end %>
            </div>
          </div>


          <div class="clear"></div>


        </div>
      </div>

      <div class="ibox animated fadeInDown">
        <div class="ibox-title">
          <h3>往届作品</h3>
        </div>
        <div class="ibox-content">

        </div>
      </div>
      <% end %>



		</div>
	</div>
</div>
