<div class="usercenter">
	<div class="row">
    <%= render 'sidebar' %>
		<div class="main col-md-9">
      <div class="row animated fadeInUp">
        <div class="col-md-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-success pull-right">本周</span>
              <h5>作品访问量</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">5123</h1>
              <div class="stat-percent font-bold text-success">49120 </div>
              <small>总计</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-primary pull-right">本周</span>
              <h5>新评论数量</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">5</h1>
              <div class="stat-percent font-bold text-navy">24 <i class="fa fa-level-up"></i></div>
              <small>总计</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-info pull-right">总计</span>
              <h5>作品票数</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">12</h1>
              <div class="stat-percent font-bold text-info">5 <i class="fa fa-level-up"></i></div>
              <small>本周新投票</small>
            </div>
          </div>
        </div>


      </div>

      <!-- 消息框 -->
      <div class="ibox ">
        <div class="ibox-title">
          <h5>近期消息</h5>
        </div>
        <div class="ibox-content" id="message_box">
          <% if @messages.length > 0 %>
            <% @messages.each do |m| %>
            <h3>
              <% unless m.is_readed? %>
              <button class="btn btn-xs btn-warning set_read_msg" data-id="<%= m.id %>">未读</button>
              <% end %>
              <%= m.title %>
              <small> 来自： <%= m.from %></small>
              <span class="pull-right label label-info"><%= m.created_at.strftime('%m月%d日 %H:%M') %></span>
            </h3>
            <div><%= m.content.html_safe %></div>
            <% end %>
          <% else %>
            <p>暂时还没有消息或通知</p>
          <% end %>
        </div>
      </div>

      <!-- 作品状态 -->
      <div class="ibox ">
        <div class="ibox-title">
          <h5>作品状态</h5>
        </div>
        <div class="ibox-content">
          <% @current_creations.each do |c| %>
          <div class="row">
            <div class="col-md-3">
              <%= c.thumb.url %>
            </div>
          </div>
          <% end %>
          <% if @current_creations.empty? %>
            暂无作品
          <% end %>
        </div>
      </div>
		</div>
	</div>
</div>
