<%= form_for(@manage_admin) do |f| %>
  <%= form_errors(@manage_admin) %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :realname %><br>
    <%= f.text_field :realname %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>
