<h2>管理员列表</h2>
<%= link_to '新建管理员', new_manage_admin_path ,class: "btn btn-success" %>
<div class="btn-group" role="group">
  <span style="display:none" id="url_base"><%= manage_admins_url %></span>
  <a class="btn btn-info action-btn" id="preview" disabled><i class="glyphicon glyphicon-eye-open"></i> 预览</a>
  <a class="btn btn-success action-btn" id="edit" disabled><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
  <a class="btn btn-danger action-btn extra-action" id="delete" disabled><i class="glyphicon glyphicon-remove"></i> 删除</a>


</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th width="180px">用户名</th>
    <th>真实姓名</th>
    <th width="100px">创建日期</th>
    <th>状态</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_admins.each do |a| %>
      <tr data-id="<%= a.id %>" >
        <td>
          <input type="radio" name="a_radio" class="a_radio" value="<%= a.id %>">
        </td>
        <td><%= a.id %></td>
        <td><%= a.name %></td>
        <td><%= a.realname %></td>
        <td>
          <span class="time-column" title="<%= a.created_at.strftime("%F %R") %>">
            <%= a.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <% unless a.is_forbidden? %>
            <%= bs_label_tag "正常", "success" %>
          <% else %>
            <%= bs_label_tag "锁定", "danger" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
