<h2>管理员列表</h2>
<section id="btnGroup" data-base="<%= manage_admins_url %>">
  <a role="new">新建管理员</a>
  <div class="btn-group" role="group">
    <a role="show">查看权限</a>
    <a role="edit"></a>
    <a role="toggle" target="manage_admin[is_forbidden]" data-icon="lock" data-button="warning">切换锁定</a>
    <a role="delete"></a>
  </div>
</section>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th width="180px">用户名</th>
    <th>真实姓名</th>
    <th width="100px">创建日期</th>
    <th>状态</th>
    <th width="20%">角色</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_admins.each do |a| %>
      <tr data-id="<%= a.id %>" data-forbidden="<%= a.is_forbidden? %>">
        <td>
          <input type="radio" name="p_radio" class="p_radio" value="<%= a.id %>">
        </td>
        <td><%= a.id %></td>
        <td><%= a.name %></td>
        <td><%= a.realname %></td>
        <td>
          <span class="time-column" title="<%= a.created_at.strftime("%F %R") %>">
            <%= a.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <% unless a.is_forbidden? %>
            <%= bs_label_tag "正常", "success" %>
          <% else %>
            <%= bs_label_tag "锁定", "danger" %>
          <% end %>
        </td>
        <td>
          <%= bs_label_tag( "无", "default" ) if a.roles.empty?  %>
          <% a.roles.each do |r| %>
            <%= bs_label_tag "#{r.name}", "info"%>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<hr>
<h2>角色列表</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th width="40%">角色</th>
    <th width="20%">开启状态</th>
  </tr>
  </thead>

  <tbody>
    <% @manage_roles.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td>
          <% if r.is_enabled? %>
            <%= bs_label_tag "开启", "success" %>
          <% else %>
            <%= bs_label_tag "关闭", "default" %>
          <% end %>
        </td>
        <td><a class="btn btn-success view_permissions" data-id="<%= r.id %>">查看权限</a>
        </td>
        <td><%= link_to "编辑权限","/manage/roles/#{r.id}/permission",class: 'btn btn-warning' %></td>
        <td>
          <%= form_tag("roles/#{r.id}",method: "delete",class: "form-group" )do  %>
            <%= submit_tag("删除",class: 'btn btn-danger',data: { confirm: '你确定要删除这个角色吗？' })%>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <%= form_tag("/manage/roles",method: "post") do %>
      <td colspan="2">
        <%= text_field_tag(:name,"",  class: "form-control",placeholder: "新建角色名") %>
      </td>
      <td>
        <%= submit_tag("新建角色",class: "btn btn-success") %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">查看角色权限</h4>
      </div>
      <div class="modal-body" id="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
