<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <title><%= @title || '微课大赛后台管理系统' %></title>
  <link rel="shortcut icon" href="/favicon.png">
  <%= stylesheet_link_tag  'bootstrap-pack', media: 'all' %>
  <%= stylesheet_link_tag  'manage', media: 'all' %>
  <%= stylesheet_link_tag   params[:controller], media: 'all' %>
  <%= yield :before_js %>
  <%= csrf_meta_tags %>
</head>

<body class="container">
  <div class="page-header">
    <h1>修改角色权限<small>更改权限以适应用户需求</small></h1>
  </div>
  <table class="table" >

    <tbody>
      <%= form_tag("/manage/role/#{@manage_role.id}",method: "patch") do %>
        <% Manage::Node.all.each do |n| %>
            <tr data-id="<%= n.id %>" >
              <td>
                  <div  title="<%= n.remark %>">
                    <label  class="radio-inline btn btn-default">
                      <%= check_box_tag "new_nodes[]", n.id, @manage_role.nodes.include?(n),type: "checkbox" %>
                      <%= n.title %>
                    </label>
                  </div>
              </td>
            </tr>
        <% end %>
        <%= submit_tag("提交更改",class: 'btn btn-warning')%>
      <% end %>
    </tbody>
  </table>
</body>
