<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="<%= manage_comments_path %>">未处理评论(<%= @unviewed_comments.count %>)</a>
  </li>
  <li role="presentation">
    <a href="<%= manage_comments_viewed_path %>">已处理评论</a>
  </li>
  <li role="presentation">
    <a href="<%= manage_comments_hidden_path %>">已隐藏评论</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <!--没有被处理过的评论-->
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th width="65px">评论者</th>
        <th width="50%">评论内容</th>
        <th width="100px">作品</th>
        <th width="10%">评论时间</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @unviewed_comments.each do |c| %>
          <tr data-id="<%= c.id %>">
            <td>
              <%= link_to user_detail_path(c.user.name), target: '_blank' do %>
                  <div style="text-align: center">
                    <img src="<%= c.user.avatar.thumb_mini %>" alt="缩略图" class="img-thumbnail"><br/>
                    <%= c.user.realname %>
                  </div>
              <% end %>
            </td>
            <td>
              <%= link_to manage_comment_path(c) do %>
                  <div><%= truncate c.message, length:100 %></div>
              <% end %>
            </td>
            <td>
              <div style="text-align: center">
              <%= link_to creation_path(c.creation.name), target: '_blank' do %>
                    <img src="<%= c.creation.thumb.thumb_mini %>">
                    <br/><%= c.creation.name %>
              <% end %>
              </div>
            </td>
            <td>
              <span class="time-column" title="<%= c.created_at.strftime("%F %R") %>">
                <%= c.created_at.strftime("%F") %>
              </span>
            </td>
            <td>
              <%= link_to '通过评审', manage_view_comment_path(c), method: 'put', class: 'btn btn-success', data_toggle: "tooltip", data_placement: "bottom", title:"允许该评论出现在作品页上" %>
            </td>
            <td>
              <%= link_to '隐藏', manage_hide_comment_path(c), method: 'put', class: 'btn btn-danger', data_toggle: "tooltip", data_placement: "bottom", title:"隐藏该评论后,它将不会出现在作品页上" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @unviewed_comments %>
  </div>
</div>
