<table class="table table-hover">
      <thead>
      <tr>
        <th width="7%">评论者</th>
        <th width="50%">评论内容</th>
        <th width="20%">作品</th>
        <th width="10%">评论时间</th>
        <th></th>
      </tr>
      </thead>

  <tbody>
  <% @manage_comments.each do |c| %>
      <tr data-id="<%= c.id %>">
        <td width="7%">
          <%= link_to user_detail_path(c.user.name) do %>
              <div style="text-align: center">
                <img src="<%= c.user.avatar.thumb_mini %>" alt="缩略图" class="img-thumbnail"><br/>
                <%= c.user.realname %>
              </div>
          <% end %>
        </td>
        <td width="30%"><%= truncate c.message, length:100 %></td>
        <td width="10%">
          <%= link_to creation_path(c.creation.name) do %>
            <div>
              <img src="<%= c.creation.thumb.thumb_mini %>">
            </div>
          <% end %>
        </td>
        <td width="10%">
          <span class="time-column" title="<%= c.created_at.strftime("%F %R") %>">
            <%= c.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <%= link_to '删除', '#', class: 'btn btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
