<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to '通用设置', manage_cfgs_path %></li>
  <li role="presentation"><%= link_to '示例视频', manage_cfg_exp_video_path %></li>
</ul>

<table class="table">
  <thead>
  <tr>
    <th width="60%;">设置项</th>
    <th></th>
    <th>值</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_cfgs.each do |cfg| %>
      <tr  >
        <td><%= cfg.remark %></td>
        <td>
          <div >
            <!-- 使用form_tag构造表单 -->
            <%= form_tag("cfg/#{cfg.id}", method: "patch", class: "form-group", multipart:true) do  %>
              <td><%= send "cfg_#{cfg.field_type}_field",cfg %></td>
              <!-- 此处没权限应当直接用label标签,但是方法的调用还没想到简洁的方案 -->
              <%  can?("update") do %>
                <td><%= submit_tag("提交",class: "btn btn-warning") %></td>
              <% end %>
            <% end %>
          </div>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
