<div class="row">
  <div class="col-md-7">
    <div class="ibox">
      <div class="ibox-title">
        <h3>用户登录</h3>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag 'index/login.png', id:'login_logo_img' %>
          </div>
          <div class="col-md-9">
            <%= form_tag user_login_path, method: :post, class:'form-horizontal' do %>
            <div class="form-group">
              <label for="username" class="col-sm-4 control-label">用户名/手机号</label>
              <div class="col-sm-8">
                <%= text_field_tag :username, params[:username], class:'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-4 control-label">密码</label>
              <div class="col-sm-8">
                <%= password_field_tag :password, params[:password], class:'form-control' %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <%= submit_tag '登陆', class:'btn btn-success btn-block' %>
              </div>
              <div class="col-md-4">
                <%= link_to '1分钟注册', user_reg_path,class:'btn btn-primary btn-block' %>
              </div>
            </div>
          </div>

            <% end %>
        </div>


      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="ibox">
      <div class="ibox-title"><h3>帮助</h3></div>
      <div class="ibox-content">
        <h4>我是以前的老用户，需要重新注册吗？</h4>
        <p>以前的老用户可以直接使用以前的账号，新用户只能使用手机注册。</p>
        <h4>忘记密码怎么办？</h4>

  			<p>您有两种方案来重置密码：</p>
        <ol>
          <li><%= link_to '使用手机号重设密码', user_reset_path %>，该方法只对使用手机号注册的用户有效</li>
          <li>您可以在工作日拨打我们的联系电话重置密码。电话：025-83787964</li>
        </ol>
      </div>
    </div>
  </div>
</div>
