<%= javascript_include_tag "ckeditor/init" %>
<%= form_for :message do |f| %>
  <% @target_users.each do |p| %>
    <input type="hidden" name="user_id[]" value="<%= p.id %>">
  <% end %>
  <table class="table">
    <tr>
      <td>收件人</td>
      <td>
        <% @target_users.each do |p| %>
          <span class="label label-primary user-list"><%= p.name %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :title ,"标题"%></td>
      <td><%= f.text_field :title, class: 'form-control' %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.label :content,"内容"%>
        <%= f.cktext_area :content, :ckeditor => {:uiColor => '#fefefe', :toolbar => 'mini'}  %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :from ,"发送人"%></td>

      <td><%= f.text_field :from, class: 'form-control' %></td>
    </tr>
  </table>
  <%= f.submit class: 'btn btn-primary',value:'发送' %>
<% end %>
