<%= javascript_include_tag "ckeditor/init" %>
<%= form_for(@manage_creation) do |f| %>
  <% if @manage_creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_creation.errors.count, "error") %> prohibited this manage_creation from being saved:</h2>

      <ul>
      <% @manage_creation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.cktext_area :desc, :ckeditor => {:uiColor => '#fefefe', :toolbar => 'mini'}  %>
  </div>
  <div class="field">
    <%= f.label :vote_count %><br>
    <%= f.number_field :vote_count %>
  </div>
  <div class="field">
    <%= f.label :comment_count %><br>
    <%= f.number_field :comment_count %>
  </div>
  <div class="field">
    <%= f.label :view_count %><br>
    <%= f.number_field :view_count %>
  </div>
  <div class="field">
    <%= f.label :popularity %><br>
    <%= f.number_field :popularity %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :thumb %><br>
    <%= f.file_field :thumb %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status do %>
        <% [['草稿', 'draft'], ['发布审核', 'publishing'], ['已发布', 'published'], ['撤销审核', 'unpublishing']].each do |c| %>
            <%= content_tag :option, c.first, value: c.last %>
        <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.number_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
