<%= javascript_include_tag "ckeditor/init" %>
<%= link_to '返回作品列表', manage_creations_path, class: 'btn btn-default' %>
<h1>修改用户作品</h1>

<%= form_for(@manage_creation) do |f| %>
    <%= form_errors(@manage_creation) %>

    <table class="table">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, class: 'form-control' %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.label :desc%>
          <%= f.cktext_area :desc, :ckeditor => {:uiColor => '#fefefe', :toolbar => 'mini'}  %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :thumb %></td>
        <td><%= f.file_field :thumb %></td>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>