<h2>作品列表</h2>
<section id="btnGroup" data-base="<%= manage_creations_url %>">
  <div class="btn-group" role="group">
    <a role="show"></a>
    <a role="edit"></a>
    <a role="delete"></a>
  </div>
</section>

<% if @pre_creations.any? %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">待处理的作品</h2>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th width="5%"></th>
          <th width="10%">缩略图</th>
          <th width="15%">作品名称</th>
          <th width="30%">简介</th>
          <th width="10%">创建时间</th>
          <th width="15%">最后更改时间</th>
          <th width="10%">投票数</th>
          <th>状态</th>
        </tr>
        </thead>

        <tbody>
        <% @pre_creations.each do |c| %>
            <tr data-id="<%= c.id %>" %>
              <td>
                <input type="radio" name="p_radio" class="p_radio" value="<%= c.id %>">
              </td>
              <td>
                <img src="<%= c.thumb.thumb_mini %>" alt="缩略图" class="img-thumbnail">
              </td>
              <td><%= c.name %></td>
              <td><%= truncate c.summary, length:100 %></td>
              <td>
          <span class="time-column" title="<%= c.created_at.strftime("%F %R") %>">
            <%= c.created_at.strftime("%F") %>
          </span>
              </td>
              <td>
          <span class="time-column" title="<%= c.updated_at.strftime("%F %R") %>">
            <%= c.updated_at.strftime("%F") %>
          </span>
              </td>
              <td>
                <%= c.vote_count %>
              </td>
              <td>
                <%= bs_label_tag c.status_cn, "info" %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<table class="table table-hover">
  <% unless @pre_creations.any? %>
      <thead>
      <tr>
        <th width="5%"></th>
        <th width="10%">缩略图</th>
        <th width="15%">作品名称</th>
        <th width="30%">简介</th>
        <th width="10%">创建时间</th>
        <th width="15%">最后更改时间</th>
        <th width="10%">投票数</th>
        <th>状态</th>
      </tr>
      </thead>
  <% end %>

  <tbody>
  <% @manage_creations.each do |c| %>
      <tr data-id="<%= c.id %>">
        <td width="5%">
          <input type="radio" name="p_radio" class="p_radio" value="<%= c.id %>">
        </td>
        <td width="10%">
          <img src="<%= c.thumb.thumb_mini %>" alt="缩略图" class="img-thumbnail">
        </td>
        <td width="15%"><%= c.name %></td>
        <td width="30%"><%= truncate c.summary, length:100 %></td>
        <td width="10%">
          <span class="time-column" title="<%= c.created_at.strftime("%F %R") %>">
            <%= c.created_at.strftime("%F") %>
          </span>
        </td>
        <td width="15%">
          <span class="time-column" title="<%= c.updated_at.strftime("%F %R") %>">
            <%= c.updated_at.strftime("%F") %>
          </span>
        </td>
        <td width="10%">
          <%= c.vote_count %>
        </td>
        <td>
          <%= bs_label_tag c.status_cn, "info" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<<<<<<< HEAD
=======
<%= paginate @manage_creations %>
>>>>>>> 98d769ab869f1479cf2cb3a39a8c013fb7bd4848
