<h2>作品列表</h2>

<div class="btn-group" role="group">
  <span style="display:none" id="url_base"><%= manage_creations_url %></span>
  <a class="btn btn-info action-btn" id="preview" disabled><i class="glyphicon glyphicon-eye-open"></i> 查看</a>
  <a class="btn btn-success action-btn" id="edit" disabled><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
  <a class="btn btn-danger action-btn extra-action" id="delete" disabled><i class="glyphicon glyphicon-remove"></i> 删除</a>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>缩略图</th>
    <th>作品名称</th>
    <th>简介</th>
    <th>创建时间</th>
    <th>最后更改时间</th>
    <th>投票数</th>
    <th>评论数</th>
    <th>浏览量</th>
    <th>人气</th>
    <th>状态</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_creations.each do |c| %>
      <tr data-id="<%= c.id %>" %>">
        <td>
          <img src=<%= c.thumb %> alt="...">
        </td>
        <td>
          <input type="radio" name="p_radio" class="p_radio" value="<%= c.id %>">
        </td>
        <td><%= c.name %></td>
        <td><%= truncate c.summary, length:100 %></td>
        <td>
          <span class="time-column" title="<%= c.created_at.strftime("%F %R") %>">
            <%= c.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <span class="time-column" title="<%= c.updated_at.strftime("%F %R") %>">
            <%= c.updated_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <%= c.vote_count %>
        </td>
        <td>
          <%= c.comment_count %>
        </td>
        <td>
          <%= c.view_count %>
        </td>
        <td>
          <%= c.popularity %>
        </td>
        <td>
          <%= bs_label_tag c.status, "info" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>