<%= link_to '返回列表', manage_creations_path, class: 'btn btn-default' %>
<%= link_to '修改', edit_manage_creation_path(@manage_creation), class: 'btn btn-success' %>

<h3>
  <%= bs_label_tag @manage_creation.status_cn, "info" %>
  <%= @manage_creation.name %>
</h3>

<div>
  <img src="<%= @manage_creation.thumb %>" alt="缩略图" class="img-thumbnail">
</div>

<table class="table">
  <tr>
    <td><%= tmc('comment_count') %></td>
    <td><%= @manage_creation.comment_count %></td>
    <td><%= tmc('view_count') %></td>
    <td><%= @manage_creation.view_count %></td>
    <td><%= tmc('vote_count') %></td>
    <td><%= @manage_creation.vote_count %></td>
    <td><%= tmc('created_at') %></td>
    <td><%= @manage_creation.created_at.strftime('%F %R') %></td>
    <td><%= tmc('updated_at') %></td>
    <td><%= @manage_creation.updated_at.strftime('%F %R') %></td>
  </tr>
  <tr>
    <td colspan="10">
      <h3><%= tmc('desc') %></h3>
      <%= @manage_creation.desc.html_safe %>
    </td>
  </tr>
</table>