<div class="exhibition_wrapper">
	<div class="works_nav">
		<ul>
			<li class="group">
        <%= creation_filter_link('所有组别', :group) %>
      </li>
      <li class="group">
        <%= creation_filter_link('教师组', :group, 'teacher') %>
      </li>
      <li class="group">
        <%= creation_filter_link('学生组', :group, 'student') %>
      </li>

      <li><%= creation_filter_link('最新提交', :order) %></li>
      <li><%= creation_filter_link('最多票数', :order, 'vote') %></li>
      <li><%= creation_filter_link('最多播放', :order, 'view') %></li>
      <li><%= creation_filter_link('最多评论', :order, 'comment') %></li>

      <% if Cfg.version > 1 && params[:type] == 'old' %>
        <li><%= creation_filter_link("第 1 - #{Cfg.version - 1} 届", :history) %></li>
        <% (Cfg.version - 1).times do |x| %>
          <li><%= creation_filter_link("第 #{x + 1} 届", :history, (x+1).to_s) %></li>
        <% end %>
  			<div class="clear"></div>
      <% end %>

			<div class="clear"></div>
		</ul>


	</div> <!-- 顶部内容 -->
  <div id="creation_count">
    当前筛选条件下，共有 <%= @creations.count %> 个作品</a></li>
  </div>

	<div class="works_group">
    <% @creations.each do |c| %>
      <div class="file-box">
        <div class="file">
          <%= link_to creation_path(c.name) do %>
              <span class="corner"></span>
              <div class="image">
                <%= image_tag c.thumb.url(:thumb) %>
              </div>
              <div class="file-name">
                <%= c.name %>
                <div class="vote_info">
                  <i class="glyphicon glyphicon-thumbs-up"></i> <%= c.vote_count %>
                </div>
                <div>
                  <small>
                    <%= c.creation_authors.map{|x| x.name}.join(' ') %>
                  </small>
                </div>

              </div>
              </a>
          <% end %>
        </div>
      </div>
    <% end %>
	</div><!--  works_group end -->
	<div class="clear"></div>

  <div class="text-center">
    <%= paginate @creations %>
  </div>

</div> <!-- exhibition_wrapper end -->
