<div class="exhibition_wrapper">
	<div class="works_nav">
		<ul>
			<li class="group"><a href="<%= creations_path(order: params[:order], type: params[:type]) %>" class="<%= 'active' unless params[:group] %>" >所有组别</a></li>
      <li class="group"><a href="<%= creations_path(group: 'teacher', order: params[:order], type: params[:type]) %>" class="<%= 'active' if params[:group] == 'teacher' %>">教师组</a></li>
			<li class="group"><a href="<%= creations_path(group: 'student', order: params[:order], type: params[:type]) %>" class="<%= 'active' if params[:group] == 'student' %>">学生组</a></li>

      <li><a href="<%= creations_path(group: params[:group], type: params[:type]) %>" class="<%= 'active' unless params[:order] %>">最新提交</a></li>
      <li><a href="<%= creations_path(group: params[:group], order: 'vote', type: params[:type]) %>" class="<%= 'active' if params[:order]=='vote' %>">最多票数</a></li>
      <li><a href="<%= creations_path(group: params[:group], order: 'view', type: params[:type]) %>" class="<%= 'active' if params[:order]=='view' %>">最多播放</a></li>
      <li><a href="<%= creations_path(group: params[:group], order: 'comment', type: params[:type]) %>" class="<%= 'active' if params[:order]=='comment' %>">最多评论</a></li>

			<li><a class="disabled">共有<%= @creations.count %>个参赛作品</a></li>
			<div class="clear"></div>
		</ul>

	</div> <!-- 顶部内容 -->

	<div class="works_group">
    <% @creations.each do |c| %>
      <div class="file-box">
        <div class="file">
          <%= link_to creation_path(c.name), target: '_blank' do %>
              <span class="corner"></span>
              <div class="image">
                <%= image_tag c.thumb.url(:thumb) %>
              </div>
              <div class="file-name">
                <%= c.name %>
                <div class="vote_info">
                  <i class="glyphicon glyphicon-thumbs-up"></i> <%= c.vote_count %>
                </div>
                <div>
                  <small>
                    <%= c.creation_authors.map{|x| x.name}.join(' ') %>
                  </small>
                </div>

              </div>
              </a>
          <% end %>
        </div>
      </div>
    <% end %>
	</div><!--  works_group end -->
	<div class="clear"></div>
  <div class="text-center">
    <%= paginate @creations %>
  </div>
</div> <!-- exhibition_wrapper end -->
<script>
$(document).ready(function(){
	$(".works_over").hover(function(){
		$(this).animate({ opacity: 1 }, 400);
	},function(){
			$(this).animate({ opacity: 0 }, 400);
		}
	);
});
</script>
