<div class="title-wrapper">
  <h1 class="creation_title">
    <% unless @creation.version == Cfg.version %>
    [第<%= @creation.version %>届作品]
    <% end %>
    <%= @creation.name %>
  </h1>
  <div class="btn-group vote <%= is_voted(@creation) %>" data-id="<%= @creation.name %>">
    <a class="btn btn-primary"><i class="glyphicon glyphicon-heart"></i><span class="vote_count"> <%= @creation.vote_count %></span></a>
    <% if @creation.is_voted? session[:user_id] %>
    <a class="btn btn-info" disabled>已投票</a>
    <% elsif @creation.version.to_i != Cfg.get('current_version').to_i %>
    <a class="btn btn-info" disabled>往届作品不可投票</a>
    <% elsif !Cfg.can_vote? %>
    <a class="btn btn-info" disabled>投票已截止</a>
    <% else %>
    <a class="btn btn-info" href="javascript: void(0);">投票</a>
    <% end %>
  </div>
  <!-- TODO: 添加一个分享功能 -->
  <div class="clear"></div>
</div>

<div class="tabs-container" style="margin-top: 15px;">
  <div class="tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-0"><i class="glyphicon glyphicon-info-sign"></i> 简要介绍</a></li>

        <% @creation.creation_attaches.each do |t| %>
        <li><a data-toggle="tab" href="#tab-<%= t.id %>"><i class="glyphicon glyphicon-film"></i> <%= t.original_filename.split('.')[0] %></a></li>
        <% end %>

        <li><a data-toggle="tab" href="#tab-ppt"><i class="glyphicon glyphicon-blackboard"></i> 演示文稿</a></li>
    </ul>
    <div class="tab-content ">
      <div id="tab-0" class="tab-pane active">
        <div class="panel-body">
          <%= @creation.desc.html_safe %>
        </div>
      </div>

      <% @creation.creation_attaches.each do |t| %>
      <div id="tab-<%= t.id %>" class="tab-pane">
        <div class="panel-body">
          <div class="player_box" id="player_<%= t.id %>" data-id="<%= t.id %>" data-url="<%= t.filename.url %>" style=""></div>
        </div>
      </div>
      <% end %>

      <div id="tab-ppt" class="tab-pane">
        <div class="panel-body">
          <% if @creation.ppt.url %>
            <iframe src="<%= pdf_view_url(@creation) %>" width="790" height="500"></iframe>
          <% else %>
            <p>抱歉，无法找到文件:(</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="sub_wrapper row">
  <div class="col-md-8">
    <h3>作品信息</h3>
    <div class="creation_info_container">
      <div class="info-box">
        <p class="number"><%= @creation.version %></p>
        <p class="desc">第几届</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.created_at.strftime('%F') %></p>
        <p class="desc">上传时间</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.updated_at.strftime('%F') %></p>
        <p class="desc">更新时间</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.view_count %></p>
        <p class="desc">播放量</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.comment_count %></p>
        <p class="desc">评论数</p>
      </div>
      <div class="clear"></div>
    </div>
    <h3>作者信息</h3>
    <div class="author_container">
        <div class="avatar">
          <%= link_to image_tag(@creation.user.avatar.thumb, width:100, height: 100), user_detail_path(@creation.user.realname) %>
        </div>
        <div class="detail">
          <div class="username">

            <h3><%= @creation.user.realname %></h3>
          </div>
          <% @creation.creation_authors.each do |a| %>
          <div class="author btn-group">
            <span class="btn btn-info">
              <i class="glyphicon glyphicon-map-marker"></i>
              <%= a.department %>
            </span>
            <span class="btn btn-primary"> <%= a.name %></span>
          </div>


          <% end %>

        </div>
    </div>
    <h3>评论</h3>

    <div class="comment_container">

    </div>
  </div>
  <div class="col-md-4">
    <div class="sidebar_container">

      <div class="opus_sidebar span3">
        <% unless @other_creations.empty? %>
        <div class="ibox">
          <div class="ibox-title">
            <h3><a><%= link_to @creation.user.realname, user_detail_path(@creation.user.realname) %></a>的其他作品</h3>
          </div>
          <div class="ibox-content other_creations">
            <% @other_creations.each do |c| %>
            <div class="opus_item">
              <%= link_to(creation_path(c.name)) do %>
                <%= image_tag c.thumb, alt:"缩略图", class: 'opus_thumb' %>
              <% end %>
              <%= link_to c.name, creation_path(c.name), class: 'opus_name' %>
            </div>
            <% end %>
            <div class="clear"></div>
          </div>
        </div>
        <% end %>
        <!-- 最新动态 -->
        <div class="ibox">
          <div class="ibox-title">
            <h3>最新动态</h3>
          </div>
          <div class="ibox-content news_box">
            <table class="table table-condensed table-hover">
              <% @posts.each do |p| %>
              <tr>
                <td>
                  <%= link_to p.title, passage_path(p) %>
                </td>
                <td width="60px"><%= p.publish_at.strftime("%m-%d") %></td>
              </tr>
              <% end %>
            </table>


          </div>
        </div>
      </div> <!-- opus_sidebar end -->



    </div>
  </div>
</div>


<div class="opus_wrapper">
	<div class="row-fluid">
		<div class="opus_main span9">
            <div class="opus_video">

            </div>
            <div class="opus_cmt">
              <% unless @comments.empty? %>
                  <div class="cmt_menu">
                    <span>第{$pagecfg.first}-{$pagecfg.list}条/共<%= @creation.comment_count %>条</span>
                    <div class="pagination">
                      <%= paginate @comments %>
                    </div>
                  </div>
                  <div class="opus_cmt_box">
                    <% @comments.each do |c| %>
                        <div class="cmt_hp"><img src="<%= c.user.avatar.thumb %>" alt=""></div>
                        <a href="<%= user_detail_path(c.user.real) %>" class="cmt_author"><%= c.user.realname %></a>
                        <div class="cmt_content">
                          <p><%= c.message %></p>
                        </div>
                        <div class="cmt_panel">
                          <span class="cmt_time"><%= c.created_at.strftime('%F %R') %></span>
                        </div>
                    <% end %>
                  </div>
                  <div class="cmt_menu cmt_menu_bottom">
                    <span>第{$pagecfg.first}-{$pagecfg.list}条/共<%= @creation.comment_count %>条</span>
                    <div class="pagination">
                      <%= paginate @comments %>
                    </div>
                  </div>
              <% end %>
			</div> <!-- opus_cmt end -->
          <% if @creation.version.to_i == Cfg.get('current_version').to_i %>
              <div class="opus_cmt_editor">
                <% if session[:user_id].nil? %>
                    <textarea name="" id="" cols="33" rows="3" disabled>登录后才可使用评论功能！</textarea>
                <% else %>
                    <%= form_tag creation_comment_path @creation.name do %>
                        <textarea name="comment" id="" cols="33" rows="3" placeholder="发表你对视频的看法"></textarea>
                        <input type="submit" class="btn btn-primary" value="发表评论">
                    <% end %>
                <% end %>
              </div> <!-- opus_cmt_editor end -->
          <% end %>
		</div> <!-- opus_main end -->
	</div> <!-- row-fliud end -->
</div> <!-- opus_wrapper end -->
