<div class="title-wrapper">
  <h1 class="creation_title">
    <% unless @creation.version == Cfg.version %>
    [第<%= @creation.version %>届作品]
    <% end %>
    <%= @creation.name %>
  </h1>
  <div class="btn-group vote <%= is_voted(@creation) %>" data-id="<%= @creation.name %>">
    <a class="btn btn-primary"><i class="glyphicon glyphicon-heart"></i><span class="vote_count"> <%= @creation.vote_count %></span></a>
    <% if @creation.is_voted? session[:user_id] %>
    <a class="btn btn-info" disabled>已投票</a>
    <% elsif @creation.version.to_i != Cfg.get('current_version').to_i %>
    <a class="btn btn-info" disabled>往届作品不可投票</a>
    <% elsif !Cfg.can_vote? %>
    <a class="btn btn-info" disabled>投票已截止</a>
    <% else %>
    <a class="btn btn-info" href="javascript: void(0);">投票</a>
    <% end %>
  </div>
  <!-- TODO: 添加一个分享功能 -->
  <div class="clear"></div>
</div>

<div class="tabs-container" style="margin-top: 15px;">
  <div class="tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-0"><i class="glyphicon glyphicon-info-sign"></i> 简要介绍</a></li>

        <% @creation.creation_attaches.each do |t| %>
        <li><a data-toggle="tab" href="#tab-<%= t.id %>"><i class="glyphicon glyphicon-film"></i> <%= t.original_filename.split('.')[0] %></a></li>
        <% end %>

        <li><a data-toggle="tab" href="#tab-ppt"><i class="glyphicon glyphicon-blackboard"></i> 演示文稿</a></li>
    </ul>
    <div class="tab-content ">
      <div id="tab-0" class="tab-pane active">
        <div class="panel-body">
          <%= @creation.desc.html_safe %>
        </div>
      </div>

      <% @creation.creation_attaches.each do |t| %>
      <div id="tab-<%= t.id %>" class="tab-pane">
        <div class="panel-body">
          <div class="player_box" id="player_<%= t.id %>" data-id="<%= t.id %>" data-url="<%= t.filename.url %>" style=""></div>
        </div>
      </div>
      <% end %>

      <div id="tab-ppt" class="tab-pane">
        <div class="panel-body">
          <% if @creation.ppt.url %>
            <iframe src="<%= pdf_view_url(@creation) %>" width="790" height="500"></iframe>
          <% else %>
            <p>抱歉，无法找到文件:(</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="sub_wrapper row">
  <div class="col-md-8">
    <h3>作品信息</h3>
    <div class="creation_info_container">
      <div class="info-box">
        <p class="number"><%= @creation.version %></p>
        <p class="desc">第几届</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.created_at.strftime('%F') %></p>
        <p class="desc">上传时间</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.updated_at.strftime('%F') %></p>
        <p class="desc">更新时间</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.view_count %></p>
        <p class="desc">播放量</p>
      </div>
      <div class="info-box">
        <p class="number"><%= @creation.comment_count %></p>
        <p class="desc">评论数</p>
      </div>
      <div class="clear"></div>
    </div>
    <h3>作者信息</h3>
    <div class="author_container">
        <div class="avatar">
          <%= link_to image_tag(@creation.user.avatar.thumb, width:100, height: 100), user_detail_path(@creation.user.realname) %>
        </div>
        <div class="detail">
          <div class="username">

            <h3><%= @creation.user.realname %></h3>
          </div>
          <% @creation.creation_authors.each do |a| %>
          <div class="author btn-group">
            <span class="btn btn-info">
              <i class="glyphicon glyphicon-map-marker"></i>
              <%= a.department %>
            </span>
            <span class="btn btn-primary"> <%= a.name %></span>
          </div>


          <% end %>

        </div>
    </div>
    <a name="comment"></a>
    <h3>评论</h3>

    <div class="comment_container" id="comment_container">
      <div class="ibox"><div class="ibox-content">正在加载评论，请稍后</div></div>
    </div>

    <div id="comment_paginate"></div>
    <div class="clear"></div>
    <% if @creation.version == Cfg.version %>
        <div class="comment_editor">
          <% if session[:user_id].nil? %>
              <textarea name="" id="" cols="33" rows="3" disabled>登录后才可使用评论功能！</textarea>
          <% else %>
            <div class="social-feed-separated">
              <h4>发表新评论</h4>
              <div class="social-avatar">
                <a href="{{=author.homepage}}">
                  <%= image_tag @user.avatar.thumb %>
                </a>
              </div>
              <div class="social-feed-box">
                <div id="comment_editor_textarea" class="social-body" contentEditable="true">
                </div>
              </div>
              <button type="button" class="btn btn-primary pull-right" id="send_comment">发表评论</button>
            </div>

          <% end %>
        </div> <!-- opus_cmt_editor end -->
    <% end %>

  </div>
  <div class="col-md-4">
    <div class="sidebar_container">

      <div class="opus_sidebar span3">
        <% unless @other_creations.empty? %>
        <div class="ibox">
          <div class="ibox-title">
            <h3><a><%= link_to @creation.user.realname, user_detail_path(@creation.user.realname) %></a>的其他作品</h3>
          </div>
          <div class="ibox-content other_creations">
            <% @other_creations.each do |c| %>
            <div class="opus_item">
              <%= link_to(creation_path(c.name)) do %>
                <%= image_tag c.thumb, alt:"缩略图", class: 'opus_thumb' %>
              <% end %>
              <%= link_to c.name, creation_path(c.name), class: 'opus_name' %>
            </div>
            <% end %>
            <div class="clear"></div>
          </div>
        </div>
        <% end %>
        <!-- 最新动态 -->
        <div class="ibox">
          <div class="ibox-title">
            <h3>最新动态</h3>
          </div>
          <div class="ibox-content news_box">
            <table class="table table-condensed table-hover">
              <% @posts.each do |p| %>
              <tr>
                <td>
                  <%= link_to p.title, passage_path(p) %>
                </td>
                <td width="60px"><%= p.publish_at.strftime("%m-%d") %></td>
              </tr>
              <% end %>
            </table>


          </div>
        </div>
      </div> <!-- opus_sidebar end -->



    </div>
  </div>

</div>




<script type="text/template" id="comment_template">
<div class="social-feed-separated">
  <div class="social-avatar">
    <a href="{{=author.homepage}}">
      <img src="{{=author.avatar}}">
    </a>
  </div>
  <div class="social-feed-box">
    {{ if(author.is_current_user){ }}
      <button type="button" class="btn btn-xs btn-link pull-right cancel_comment" data-cid="{{=id}}" data-id="<%= @creation.name %>">
        删除
      </button>
    {{ } }}
    <div class="social-avatar">
      <a href="{{=author.homepage}}">{{=author.username}}</a>
      <small class="text-muted">{{=moment(created_at).calendar()}}</small>
    </div>
    <div class="social-body">

      <p>{{=content}}</p>
    </div>
  </div>
</div>
</script>
<script type="text/template" id="pagination_template">
{{ if(!(current === total && total === 1) && total !==0){ }}
<ul class="pagination pull-right">
  {{ if(current>1){ }}
    <li class="prev"><a data-page="{{=current-1}}">上一页</a></li>
  {{ }else{ }}
    <li class="prev disabled"><span>上一页</span></li>
  {{ } }}
  {{ for(var i=1; i<=total; i++){ }}
    {{ if(current === i){ }}
      <li class="active"><span>{{=i}}</span></li>
    {{ }else{ }}
      <li><a data-page="{{=i}}">{{=i}}</a></li>
    {{ } }}
  {{ } }}

  {{ if(current<total){ }}
    <li class="next"><a data-page="{{=current+1}}">下一页</a></li>
  {{ }else{ }}
    <li class="next disabled"><span>下一页</span></li>
  {{ } }}
</ul>
{{ } }}
</script>
