<div class="title-wrapper">
  <h1 class="creation_title">
    <% unless @creation.version == Cfg.version %>
    [第<%= @creation.version %>届作品]
    <% end %>
    <%= @creation.name %>
  </h1>
  <div class="btn-group vote <%= is_voted(@creation) %>" data-id="<%= @creation.name %>">
    <a class="btn btn-info"><i class="glyphicon glyphicon-heart"></i><span class="vote_count"> <%= @creation.vote_count %></span></a>
    <% if @creation.is_voted? session[:user_id] %>
    <a class="btn btn-primary" disabled>已投票</a>
    <% elsif @creation.version.to_i != Cfg.get('current_version').to_i %>
    <a class="btn btn-primary" disabled>往届作品不可投票</a>
    <% elsif !Cfg.can_vote? %>
    <a class="btn btn-primary" disabled>投票已截止</a>
    <% else %>
    <a class="btn btn-primary" href="javascript: void(0);">投票</a>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

<div class="tabs-container">
  <div class="tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1"><i class="glyphicon glyphicon-film"></i> 作品视频</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2"><i class="glyphicon glyphicon-blackboard"></i> 演示文稿</a></li>
    </ul>
    <div class="tab-content ">
      <div id="tab-1" class="tab-pane active">
        <div class="panel-body">
          <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

          <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
              existence in this spot, which was created for the bliss of souls like mine.</p>

          <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
              the present moment; and yet I feel that I never was a greater artist than now. When.</p>
        </div>
      </div>
      <div id="tab-2" class="tab-pane">
        <div class="panel-body">
          <strong>Donec quam felis</strong>

          <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
              and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

          <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
              sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="opus_wrapper">
	<div class="row-fluid">
		<div class="opus_main span9">
            <div class="opus_video">
                <div id="player_box" style="">
                </div>
            </div>
            <div class="opus_enjoy"> <!-- vote&share -->
                <div class="opus_vote">


                    <a href="{:getdown($opus['documents']['access_key'])}" class="btn btn-warning">查看作品说明文档</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="opus_author">
                <div class="opus_author_hp">
                    <a href="{:U('User/userinfo',array('uid'=>$author['uid']))}"><img src=<%= @creation.user.avatar.thumb %> ></a>
                </div>
                <div class="opus_author_info">
                    <div class="opus_author_name"><a href="{:U('User/userinfo',array('uid'=>$author['uid']))}"><%= @creation.user.realname %></a></div>
                    <div class="opus_author_depart"><%= @creation.authors_str %></div>
                </div>
            </div>
            <div class="opus_upt">
                <div class="opus_upt_views">
                  播放次数：
                  <span class="label label-success" id="opus_view_label">
                    <%= @creation.view_count %>
                  </span>
                </div>
                <div class="opus_upt_time">上传时间：<%= @creation.created_at.strftime('%F %R') %></div>
            </div>
            <div class="clear"></div>
            <div class="opus_intro">
                <div class="well">
                    <p><%= @creation.desc.html_safe %></p>
                </div>
            </div><!--  opus_intro end -->

            <div class="opus_doc"></div>
            <div class="clear"></div>
            <div class="opus_cmt">
              <div class="opus_cmt_header">全部评论（<span><%= @creation.comment_count %></span>）</div>
              <% unless @comments.empty? %>
                  <div class="cmt_menu">
                    <span>第{$pagecfg.first}-{$pagecfg.list}条/共<%= @creation.comment_count %>条</span>
                    <div class="pagination">
                      <%= paginate @comments %>
                    </div>
                  </div>
                  <div class="opus_cmt_box">
                    <% @comments.each do |c| %>
                        <div class="cmt_hp"><img src="<%= c.user.avatar.thumb %>" alt=""></div>
                        <a href="<%= user_detail_path(c.user.name) %>" class="cmt_author"><%= c.user.realname %></a>
                        <div class="cmt_content">
                          <p><%= c.message %></p>
                        </div>
                        <div class="cmt_panel">
                          <span class="cmt_time"><%= c.created_at.strftime('%F %R') %></span>
                        </div>
                    <% end %>
                  </div>
                  <div class="cmt_menu cmt_menu_bottom">
                    <span>第{$pagecfg.first}-{$pagecfg.list}条/共<%= @creation.comment_count %>条</span>
                    <div class="pagination">
                      <%= paginate @comments %>
                    </div>
                  </div>
              <% end %>
			</div> <!-- opus_cmt end -->
          <% if @creation.version.to_i == Cfg.get('current_version').to_i %>
              <div class="opus_cmt_editor">
                <% if session[:user_id].nil? %>
                    <textarea name="" id="" cols="33" rows="3" disabled>登录后才可使用评论功能！</textarea>
                <% else %>
                    <%= form_tag creation_comment_path @creation.name do %>
                        <textarea name="comment" id="" cols="33" rows="3" placeholder="发表你对视频的看法"></textarea>
                        <input type="submit" class="btn btn-primary" value="发表评论">
                    <% end %>
                <% end %>
              </div> <!-- opus_cmt_editor end -->
          <% end %>
		</div> <!-- opus_main end -->
		<div class="opus_sidebar span3">
          <% unless @other_creations.empty? %>
              <div class="opus_otheropus">
                <div class="opus_header"><a><%= @creation.user.realname %></a>的其他作品</div>
                <ul class="opus_list">
                  <% @other_creations.each do |c| %>
                      <li>
                        <div class="opus">
                          <%= link_to(creation_path(c.name)) do %>
                              <div class="opus_thumb">
                                <img src="<%= c.thumb.thumb_mini %>" alt="缩略图">
                              </div>
                          <% end %>
                          <%= link_to c.name, creation_path(c.name) %>
                        </div>
                      </li>
                  <% end %>
                </ul>
                <div class="clear"></div>
              </div> <!-- opus_otheropus end -->
          <% end %>

			<div class="opus_hotopus">
				<div class="opus_header"><a>热门</a>作品</div>
					<ul class="opus_list">
					<volist name="hot_opus" id="li">
					<li>
						<div class="opus">
							<a href="{:U('Opus/view',array('id'=>$li['id']))}">
							<div class="opus_thumb">
								<img src="{:getThumbMini($li['id'])}"  width="100">
							</div>
							</a>
						<a href="{:U('Opus/view',array('id'=>$li['id']))}" title="{$li.opus_name}">{$li.opus_name}</a>
						</div>
					</li>
					</volist>
				</ul>
				<div class="clear"></div>
			</div><!--  opus_hotopus end -->
			<div class="opus_hotauthor">
				<div class="opus_header"><a>人气</a>选手</div>
				<ul class="author_list">
					<volist name="hot_user" id="li">
					<li>
						<div class="hot_author">
							<img src="{:getAvatar($li['avatar'])}" alt="{$li.nickname}">
							<a href="{:U('User/userinfo',array('uid'=>$li['uid']))}">{$li.nickname} <span>{$li.department}</span></a>
						</div>
					</li>
					</volist>
				</ul>
			</div>
		</div> <!-- opus_sidebar end -->
	</div> <!-- row-fliud end -->
</div> <!-- opus_wrapper end -->
