<%= javascript_include_tag "ckeditor/init" %>
<%= form_for(@manage_post) do |f| %>
  <% if @manage_post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h3>你的提交内容中存在<%= @manage_post.errors.count %>个错误:</h3>

      <ul>
      <% @manage_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :content%>
    <%= f.cktext_area :content  %>
  </div>
  <div class="form-group">
    <%= f.label :valid_from %>
    <%= f.datetime_select :valid_from %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :is_top %>是否置顶
    </label>
    <label>
      <%= f.check_box :is_hide %>是否隐藏
    </label>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
