<%= javascript_include_tag "ckeditor/init" %>
<%= form_for(@manage_post) do |f| %>
  <%= form_errors(@manage_post) %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :content%>
    <%= f.cktext_area :content  %>
  </div>
  <div class="form-group">
    <%= f.label :valid_from %>
    <%= f.datetime_select :valid_from %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :is_top %>是否置顶
    </label>
    <label>
      <%= f.check_box :is_hide %>是否隐藏
    </label>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>
