<%= form_for(@manage_post) do |f| %>
  <% if @manage_post.errors.any? %>
    <div id="error_explanation">
      <h2>你的提交内容中存在<%= @manage_post.errors.count %>个错误:</h2>

      <ul>
      <% @manage_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= javascript_include_tag "ckeditor/init" %>
    <%= f.label :content%>
    <%= f.cktext_area :content  %>
  </div>
  <div class="field">
    <%= f.label :valid_from %>
    <%= f.datetime_select :valid_from %>
  </div>
  <div class="field">
    <%= f.label :is_top %>
    <%= f.check_box :is_top %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
