<p id="notice"><%= notice %></p>

<h1>通知公告</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Valid from</th>
      <th>Is top</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_posts.each do |manage_post| %>
      <tr>
        <td><%= link_to manage_post.title, manage_post %></td>
        <td><%= manage_post.valid_from.strftime('%F %R') %></td>
        <td><%= manage_post.is_top %></td>
        <td><%= link_to '修改', edit_manage_post_path(manage_post) %></td>
        <td><%= link_to '删除', manage_post, method: :delete, data: { confirm: '确定要删除该公告吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建通知公告', new_manage_post_path %>
