<h2>通知公告</h2>
<%= link_to '新建通知公告', new_manage_post_path ,class: "btn btn-success" %>
<div class="btn-group" role="group">
  <span style="display:none" id="url_base"><%= manage_posts_url %></span>
  <a class="btn btn-info action-btn" id="preview" disabled><i class="glyphicon glyphicon-eye-open"></i> 预览</a>
  <a class="btn btn-success action-btn" id="edit" disabled><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
  <a class="btn btn-primary action-btn extra-action" id="hide" disabled><i class="glyphicon glyphicon-retweet"></i> 切换隐藏</a>
  <a class="btn btn-warning action-btn extra-action" id="top" disabled><i class="glyphicon glyphicon-arrow-up"></i> 切换置顶</a>
  <a class="btn btn-danger action-btn extra-action" id="delete" disabled><i class="glyphicon glyphicon-remove"></i> 删除</a>


</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th width="180px"><%= tmc('title') %></th>
    <th><%= tmc('content') %></th>
    <th width="100px"><%= tmc('created_at') %></th>
    <th width="100px"><%= tmc('valid_from') %></th>
    <th>状态</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_posts.each do |p| %>
      <tr data-id="<%= p.id %>" data-hide="<%= p.is_hide? %>" data-top="<%= p.is_top? %>">
        <td>
          <input type="radio" name="p_radio" class="p_radio" value="<%= p.id %>">
        </td>
        <td><%= p.id %></td>
        <td><%= p.title %></td>
        <td><%= truncate p.content_notag, length:100 %></td>
        <td>
          <span class="time-column" title="<%= p.created_at.strftime("%F %R") %>">
            <%= p.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <span class="time-column" title="<%= p.created_at.strftime("%F %R") %>">
            <%= p.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <% if p.is_hide? %>
            <%= bs_label_tag "隐藏", "warning" %>
          <% end %>
          <% if p.is_top? %>
            <%= bs_label_tag "置顶", "primary" %>
          <% end %>
          <% if p.published? %>
            <%= bs_label_tag "已发布", "success" %>
          <% else %>
            <%= bs_label_tag "未发布", "default" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @manage_posts %>
