<h2>通知公告</h2>
<section id="btnGroup" data-base="<%= manage_posts_url %>">
  <a role="new">新建通知公告</a>
  <div class="btn-group" role="group">
    <a role="show">预览</a>
    <a role="edit"></a>
    <a role="toggle" target="post[is_hide]">切换隐藏</a>
    <a role="toggle" target="post[is_top]" data-icon="arrow-up" data-button="warning">切换置顶</a>
    <a role="delete"></a>
  </div>
</section>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th width="180px"><%= tmc('title') %></th>
    <th><%= tmc('content') %></th>
    <th width="100px"><%= tmc('created_at') %></th>
    <th width="100px"><%= tmc('publish_at') %></th>
    <th>状态</th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |p| %>
      <tr data-id="<%= p.id %>" data-hide="<%= p.is_hide? %>" data-top="<%= p.is_top? %>">
        <td>
          <input type="radio" name="p_radio" class="p_radio" value="<%= p.id %>">
        </td>
        <td><%= p.id %></td>
        <td><%= p.title %></td>
        <td><%= truncate p.content_notag, length:100 %></td>
        <td>
          <span class="time-column" title="<%= p.created_at.strftime("%F %R") %>">
            <%= p.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <span class="time-column" title="<%= p.created_at.strftime("%F %R") %>">
            <%= p.created_at.strftime("%F") %>
          </span>
        </td>
        <td>
          <% if p.is_hide? %>
            <%= bs_label_tag "隐藏", "warning" %>
          <% end %>
          <% if p.is_top? %>
            <%= bs_label_tag "置顶", "primary" %>
          <% end %>
          <% if p.published? %>
            <%= bs_label_tag "已发布", "success" %>
          <% else %>
            <%= bs_label_tag "未发布", "default" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @posts %>
