<dl class="dl-horizontal">
  <dt>标题:</dt>
  <dd>
    <% if @manage_post.is_top %>
        <span class="label label-info">置顶</span>
    <% end %>
    <% if @manage_post.is_hide %>
        <span class="label label-default">隐藏</span>
    <% end %>
    <%= @manage_post.title %>
  </dd>

  <dt>内容:</dt>
  <dd><%= @manage_post.content.html_safe %></dd>

  <dt>生效时间:</dt>
  <dd><%= @manage_post.valid_from.strftime('%F %R') %></dd>
</dl>

<%= link_to '修改', edit_manage_post_path(@manage_post), class: 'btn btn-default' %>
<%= link_to '后退', manage_posts_path, class: 'btn btn-default' %>
