<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @manage_post.title %>
</p>

<p>
  <strong>内容:</strong><br>
  <%= @manage_post.content.html_safe %>
</p>

<p>
  <strong>生效时间:</strong>
  <%= @manage_post.valid_from.strftime('%F %R') %>
</p>

<p>
  <strong>是否置顶:</strong>
  <%= @manage_post.is_top %>
</p>

<%= link_to '修改', edit_manage_post_path(@manage_post) %> |
<%= link_to '后退', manage_posts_path %>
