<%= form_for @manage_user, html:{class:"form-horizontal"} do |f| %>
  <%= form_errors(@manage_user) %>

  <div class="form-group">
    <%= f.label :name ,"用户名",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name ,class:"form-control",placeholder:"请输入用户名" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :realname,"真实姓名" ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :realname ,class:"form-control",placeholder:"请输入真实姓名" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :password ,"密码",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :password ,class:"form-control",placeholder:"请输入密码" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation ,"确认密码",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :password_confirmation ,class:"form-control",placeholder:"请再次输入密码" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :sex ,"性别",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <select class="form-control">
        <option>男</option>
        <option>女</option>
      </select>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :idcard ,"证件号",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :idcard ,class:"form-control",placeholder:"请输入证件号" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :department ,"组别",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <select class="form-control">
        <option value="1">学生组</option>
        <option value="2">教室组</option>
      </select>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :phone  ,"手机号",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :phone ,class:"form-control",placeholder:"请输入手机号" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :email ,"邮箱",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :email ,class:"form-control",placeholder:"请输入邮箱地址" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">

    <div class="actions col-sm-offset-2 col-sm-6">
      <input type="reset" class="btn btn-danger form-control">
    </div>
  </div>
  <div class="form-group">

    <div class="actions col-sm-offset-2 col-sm-6">
      <%= f.submit  class:"btn btn-primary form-control"%>
    </div>
  </div>
<% end %>
