<%= form_for @manage_user, html:{class:"form-horizontal"} do |f| %>
  <%= form_errors(@manage_user) %>

  <div class="form-grop">
    <%= f.label :name ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name ,class:"form-control" %>
    </div>
    <span class="col-sm-4 help-block">
      请输入用户名
    </span>
  </div>

  <div class="form-grop">
    <%= f.label :realname ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :realname ,class:"form-control" %>
    </div>
    <span class="col-sm-4 help-block">
      请输入真实姓名
    </span>
  </div>

  <div class="form-grop">
    <%= f.label :password_digest ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :password_digest ,class:"form-control" %>
    </div>
    <span class="col-sm-4 help-block">
      请输入密码
    </span>
  </div>

  <div class="form-grop">
    <%= f.label :sex ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <select class="form-control">
        <option>男</option>
        <option>女</option>
      </select>
    </div>
    <span class="col-sm-4 help-block">
      请选择性别
    </span>
  </div>

  <div class="form-grop">
    <%= f.label :idcard ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :idcard ,class:"form-control" %>
    </div>
    <span class="col-sm-4 help-block">
      请输入证件号
    </span>
  </div>

  <div class="form-grop">
    <%= f.label :department ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <select class="form-control">
        <option value="1">学生组</option>
        <option value="2">教室组</option>
      </select>
    </div>
    <span class="col-sm-4 help-block">
      请选择组别
    </span>
  </div>

  <div class="form-grop">
    <%= f.label :phone  ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :phone ,class:"form-control" %>
    </div>
    <span class="col-sm-4 help-block">
      请输入手机号
    </span>
  </div>

  <div class="form-grop">
    <%= f.label :email ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :email ,class:"form-control" %>
    </div>
    <span class="col-sm-4 help-block">
      请输入邮箱
    </span>
  </div>

  <div class="actions col-sm-offset-2">
    <%= f.submit  class:"btn btn-default" %>
  </div>
<% end %>
