<%= form_for @manage_user, html:{class:"form-horizontal", multipart: true} do |f| %>
  <%= form_errors(@manage_user) %>

  <div class="form-group">
    <%= f.label :name ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name ,class:"form-control",placeholder:"请输入用户名" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :realname ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :realname ,class:"form-control",placeholder:"请输入真实姓名" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :password ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :password ,class:"form-control",placeholder:"请输入密码" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>
  <div class="form-group">
    <%= f.label :avatar ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <!--迫不得已换成了这个,因为manage_user[avatar]会被莫名其妙的屏蔽掉..鬼知道发生了什么-->
      <input type="file" name="avatar">
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :sex ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.select :sex,[['男', 'male'], ['女', 'female']] ,{include_blank: true}, class: 'form-control' %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :idcard ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :idcard ,class:"form-control",placeholder:"请输入证件号" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :group ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.select :group,[['学生组', 'student'], ['教师组', 'teacher']] ,{}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :department ,class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :department ,class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone  ,"手机号",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :phone ,class:"form-control",placeholder:"请输入手机号" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">
    <%= f.label :email ,"邮箱",class:"col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :email ,class:"form-control",placeholder:"请输入邮箱地址" %>
    </div>
    <span class="col-sm-4 help-block">

    </span>
  </div>

  <div class="form-group">

    <div class="actions col-sm-offset-2 col-sm-6">
      <%= f.submit  class:"btn btn-primary form-control"%>
    </div>
  </div>
<% end %>
