<h2>用户管理</h2>
<%= link_to '新建用户', new_manage_user_path ,class: "btn btn-success" %>
<div class="btn-group" role="group">
  <span style="display:none" id="url_base"><%= manage_users_url %></span>
  <a class="btn btn-info action-btn" id="preview" disabled><i class="glyphicon glyphicon-eye-open"></i> 详细信息</a>
  <a class="btn btn-success action-btn" id="edit" disabled><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
  <a class="btn btn-primary action-btn extra-action" id="forbid" disabled><i class="glyphicon glyphicon-retweet"></i> 切换禁用</a>
  <a class="btn btn-danger action-btn extra-action" id="delete" disabled><i class="glyphicon glyphicon-remove"></i> 删除</a>

</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ID<a class="sort" id='id' value="<%= @sorted[:id] %>" ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>真实姓名<a class="sort" id="realname" value="<%= @sorted[:realname] %>" ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>性别</th>
    <!-- <th data-id="idcard" data-sort="false">证件号<a class="sort"><i class="glyphicon glyphicon-sort"></i></a></th> -->
    <th>组别</th>
    <th>部门</th>
    <!-- <th>电话</th> -->
    <!-- <th>邮箱</th> -->
    <th>作品数量</th>
    <th>人气<a class="sort" id="popularity" value="<%= @sorted[:popularity] %>"  ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>状态</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_users.each do |p| %>
      <tr data-id="<%= p.id %>" data-forbid="<%= p.is_forbidden %>">
        <td>
          <input type="radio" name="p_radio" class="p_radio" value="<%= p.id %>">
        </td>
        <td><%= p.id %></td>
        <td><%= p.realname %></td>
        <td>
          <% if p.male? %>
            <%= "男" %>
          <% else %>
            <%= "女" %>
          <% end %>
        </td>
        <!-- <td><%= p.idcard %></td> -->
        <td><%= p.group %></td>
        <td><%= p.department %></td>
        <!-- <td><%= p.phone %></td> -->
        <!-- <td><%= p.email %></td> -->
        <td><%= p.opus_count %></td>
        <td><%= p.popularity %></td>
        <td>
          <% if !p.is_forbidden && p.is_email_verified %>
            <%= bs_label_tag "正常", "success" %>
          <% elsif p.is_forbidden && !p.is_email_verified %>
            <%= bs_label_tag "禁用", "warning" %>
            <%= bs_label_tag "未验证", "warning" %>
          <% elsif !p.is_forbidden && !p.is_email_verified %>
            <%= bs_label_tag "未验证", "warning" %>
          <% else %>
            <%= bs_label_tag "禁用", "warning" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
