<h2>用户管理</h2>
<section id="btnGroup" data-base="<%= manage_users_url %>">
  <%  can?("new") do %>
    <a role="new" data-needid="false">新建用户</a>
  <% end %>
  <div class="btn-group" role="group">
    <%  can?("show") do %>
      <a role="show"></a>
    <% end %>
    <%  can?("edit") do %>
      <a role="edit"></a>
    <% end %>
    <!-- 暂时不知道message应该算是什么权限 -->
    <a role="message" data-method="get" data-url="/{id}/message" data-button="primary" data-icon="envelope" data-multiple="true">发送短消息</a>
    <%  can?("edit") do %>
      <a role="toggle" target="manage_user[is_forbidden]">切换禁用</a>
      <a role="verify" target="manage_user[is_email_verified]" data-method="patch" data-url="/{id}" data-button="primary" data-icon="ok" data-multiple="false">设为验证</a>
    <% end %>
    <%  can?("destroy") do %>
      <a role="delete"></a>
    <% end %>
  </div>
</section>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ID<a class="sort" id='id' value="<%= @sorted[:id] %>" ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>头像</th>
    <th>真实姓名<a class="sort" id="realname" value="<%= @sorted[:realname] %>" ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>性别</th>
    <th>组别</th>
    <th>单位</th>
    <!-- <th>电话</th> -->
    <!-- <th>邮箱</th> -->
    <th>作品数量</th>
    <th>状态</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_users.each do |p| %>
      <tr data-id="<%= p.id %>" data-is_forbidden="<%= p.is_forbidden %>" data-is_email_verified="<%= p.is_email_verified %>">
        <td>
          <input type="checkbox" name="p_checkbox" class="p_checkbox" value="<%= p.id %>">
        </td>
        <td><%= p.id %></td>
        <td><%= image_tag(p.avatar_url(:thumb_mini)) if p.avatar? %></td>
        <td><%= p.realname %></td>
        <td>
          <% if p.male? %>
            <%= "男" %>
          <% else %>
            <%= "女" %>
          <% end %>
        </td>
        <td><%= p.group %></td>
        <td><%= p.department %></td>
        <!-- <td><%= p.phone %></td> -->
        <!-- <td><%= p.email %></td> -->
        <td><%= p.creation_count %></td>
        <td>
          <% if !p.is_forbidden && p.is_email_verified %>
            <%= bs_label_tag "正常", "success" %>
          <% elsif p.is_forbidden && !p.is_email_verified %>
            <%= bs_label_tag "禁用", "warning" %>
            <%= bs_label_tag "未验证", "warning" %>
          <% elsif !p.is_forbidden && !p.is_email_verified %>
            <%= bs_label_tag "未验证", "warning" %>
          <% else %>
            <%= bs_label_tag "禁用", "warning" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
