<h2>用户管理</h2>
<%= link_to '新建用户', new_manage_user_path ,class: "btn btn-success" %>
<div class="btn-group" role="group">
  <span style="display:none" id="url_base"><%= manage_users_url %></span>
  <a class="btn btn-info action-btn" id="preview" disabled><i class="glyphicon glyphicon-eye-open"></i> 详细信息</a>
  <a class="btn btn-success action-btn" id="edit" disabled><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
  <a class="btn btn-primary action-btn extra-action" id="forbid" disabled><i class="glyphicon glyphicon-retweet"></i> 切换禁用</a>
  <a class="btn btn-danger action-btn extra-action" id="delete" disabled><i class="glyphicon glyphicon-remove"></i> 删除</a>

</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>用户名</th>
    <th>真实姓名</th>
    <th>性别</th>
    <th>证件号</th>
    <th>组别</th>
    <th>部门</th>
    <th>电话</th>
    <th>邮箱</th>
    <th>是否禁用</th>
    <th>是否验证</th>
    <th>作品数量</th>
    <th>人气</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_users.each do |p| %>
      <tr data-id="<%= p.id %>" data-forbid="<%= p.is_forbidden %>">
        <td>
          <input type="radio" name="p_radio" class="p_radio" value="<%= p.id %>">
        </td>
        <td><%= p.name %></td>
        <td><%= p.realname %></td>
        <td>
          <% if p.sex==0 %>
            <%= bs_label_tag "男", "default" %>
          <% else %>
            <%= bs_label_tag "女", "default" %>
          <% end %>
        </td>
        <td><%= p.idcard %></td>
        <td><%= p.group %></td>
        <td><%= p.department %></td>
        <td><%= p.phone %></td>
        <td><%= p.email %></td>
        <td>
          <% if p.is_forbidden %>
            <%= bs_label_tag "禁用", "warning" %>
          <% else %>
            <%= bs_label_tag "解禁", "success" %>
          <% end %>
        </td>
        <td>
          <% if p.is_email_verified %>
            <%= bs_label_tag "已验证", "success" %>
          <% else %>
            <%= bs_label_tag "未验证", "warning" %>
          <% end %>
        </td>
        <td><%= p.opus_count %></td>
        <td><%= p.popularity %></td>
      </tr>
  <% end %>
  </tbody>
</table>
