<h2>用户管理</h2>
<section id="btnGroup" data-base="<%= manage_users_url %>">
  <a role="new" data-needid="false">新建用户</a>
  <div class="btn-group" role="group">
    <a role="show"></a>
    <a role="edit"></a>
    <a role="message" data-method="get" data-url="/{id}/message" data-button="primary" data-icon="envelope" data-multiple="true">发送短消息</a>
    <a role="toggle" target="manage_user[is_forbidden]">切换禁用</a>
    <a role="delete"></a>
  </div>
</section>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ID<a class="sort" id='id' value="<%= @sorted[:id] %>" ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>真实姓名<a class="sort" id="realname" value="<%= @sorted[:realname] %>" ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>性别</th>
    <!-- <th data-id="idcard" data-sort="false">证件号<a class="sort"><i class="glyphicon glyphicon-sort"></i></a></th> -->
    <th>组别</th>
    <th>部门</th>
    <!-- <th>电话</th> -->
    <!-- <th>邮箱</th> -->
    <th>作品数量</th>
    <th>人气<a class="sort" id="popularity" value="<%= @sorted[:popularity] %>"  ><i class="glyphicon glyphicon-sort"></i></a></th>
    <th>状态</th>
  </tr>
  </thead>

  <tbody>
  <% @manage_users.each do |p| %>
      <tr data-id="<%= p.id %>" data-is_forbidden="<%= p.is_forbidden %>">
        <td>
          <input type="checkbox" name="p_checkbox" class="p_checkbox" value="<%= p.id %>">
        </td>
        <td><%= p.id %></td>
        <td><%= p.realname %></td>
        <td>
          <% if p.male? %>
            <%= "男" %>
          <% else %>
            <%= "女" %>
          <% end %>
        </td>
        <!-- <td><%= p.idcard %></td> -->
        <td><%= p.group %></td>
        <td><%= p.department %></td>
        <!-- <td><%= p.phone %></td> -->
        <!-- <td><%= p.email %></td> -->
        <td><%= p.opus_count %></td>
        <td><%= p.popularity %></td>
        <td>
          <% if !p.is_forbidden && p.is_email_verified %>
            <%= bs_label_tag "正常", "success" %>
          <% elsif p.is_forbidden && !p.is_email_verified %>
            <%= bs_label_tag "禁用", "warning" %>
            <%= bs_label_tag "未验证", "warning" %>
          <% elsif !p.is_forbidden && !p.is_email_verified %>
            <%= bs_label_tag "未验证", "warning" %>
          <% else %>
            <%= bs_label_tag "禁用", "warning" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
