<div class="slidebox">
  <div id="poster_slide" class="carousel slide poster_slide">
    <div class="carousel-inner" role="listbox">
      <% @posters.each_with_index do |x, index| %>
          <% if index == 0 %>
              <div class="active item"><%= image_tag x %></div>
          <% else %>
              <div class="item"><%= image_tag x %></div>
          <% end %>
      <% end %>

    </div>

    <a class="carousel-control left" href="#poster_slide" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control right" href="#poster_slide" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="announcement col-md-4">
      <div class="icon">
        <div class="sprite sprite-ann"></div>
        <div class="sprite sprite-title-ann"></div>
        <div class="clear"></div>
      </div>
      <div class="main_content">

        <div class="well list_box">
          <table class="table table-condensed table-hover">
            <% @posts.each_with_index do |p, i| %>
            <tr>
              <td>
                <%= link_to p.title, passage_path(p) %>
              </td>
              <td width="50px"><%= p.publish_at.strftime("%m-%d") %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <!-- 大赛介绍 -->
    <div class="introduce col-md-4">
      <div class="icon">
        <div class="sprite sprite-intro"></div>
        <div class="sprite sprite-title-intro"></div>
        <div class="clear"></div>
      </div>
      <div class="main_content">
        <div class="well list_box">
          <table class="table table-condensed table-hover">
            <tr>
              <td>
                <a href="{$ito.url}">{$k}. {$ito.title}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- //大赛介绍 -->
    <!-- 选手登录 -->
    <div class="login col-md-4">
      <div class="icon">
        <div class="sprite sprite-login"></div>
        <div class="sprite sprite-title-login"></div>
        <div class="clear"></div>
      </div>
      <div class="main_content">
        <div class="list_box well login_box">
        <% unless session[:user_id].blank? %>
          <div class="user_after">
            <div class="user_info">
              <table class="table">
                <tr>
                  <td width="70px">
                    <% unless @user.avatar.thumb.url.nil? %>
                      <img src="<%= @user.avatar.thumb %>" class="user_header" width="70">
                    <% else %>
                      <%= image_tag 'index/user.jpg' %>
                    <% end %>
                  </td>

                  <td class="user_info_detail">
                    <div class="user_name">
                      <%= link_to @user.realname, usercenter_path %>
                    </div>
                    <div>未读消息数:<span><%= @user.unreaded_messages_count %></span></div>
                    <div>单位:<span><%= @user.department.blank? ? '未填写': @user.department %></span></div>

                  </td>
                </tr>
              </table>
            </div>
            <div class="user_nav">
              <ul class="nav nav-list">
                <li><%= link_to '用户中心', usercenter_url %></li>
                <li><%= link_to '退出登陆', user_logout_path, method: :delete %></li>
              </ul>
            </div>
          </div>

        <% else %>
          <%= form_tag(user_login_path, method: :post) do %>
              <input type="text" name="username" placeholder="用户名" class="login_input form-control">
              <input type="password" name="password" placeholder="密码" class="login_input form-control">
              <input type="submit" class="login_submit btn btn-warning btn-block" value="登陆">
              <a href="<%= user_reg_path %>" class="btn btn-success btn-block">一分钟注册</a>
          <% end %>
        <% end %>
        </div> <!-- login-box end -->
      </div>
    </div>
  </div>
</div>


<div class="content_video">
  <div class="row">
    <div class="main-content col-md-8">
      <!-- 示例视频 -->
      <div class="video_example">
        <h4 class="left-bar-title">示例视频</h4>
        <div class="videobox">
          <div id="video_exp_carousel" class="carousel slide">
            <div class="carousel-inner">
              <% @exp_video.each_with_index do |v,i| %>
                <% if i == 0 %>
                <div class="item active">
                <% else %>
                <div class="item">
                <% end %>
                  <a href="#video_exp_modal" data-toggle="modal" data-title="<%= v.name %>" data-location="<%= v.video.url %>" class="video_exp_btn">
                    <img src="<%= v.thumb_url %>" alt="<%= v.name %>">
                  </a>
                  <div class="carousel-caption" style="bottom:0">
                    <p><%= v.name %> <small>作者：<%= v.author %></small></p>
                  </div>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#video_exp_carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
            <a class="right carousel-control" href="#video_exp_carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>

      <!-- Video_Example Modal -->
      <div class="modal fade" id="video_exp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width:680px;margin-left:auto;margin-right:auto">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="video_exp_title"></h4>
            </div>
            <div class="modal-body" style="max-height:500px;">
              <div id="player"></div>
            </div>
          </div>
        </div>
      </div>

      <% if @random_video.length > 0 %>
      <div class="works_show">
        <h4 class="left-bar-title">作品展示 <small>为你欣赏的作品投上一票</small></h4>
      </div>
      <!-- 作品 -->
      <% @random_video.each_with_index do |v, i| %>
        <div class="work-presentation ">
          <% if i%2 == 1 %>
          <div class="row reverted">
          <% else %>
          <div class="row">
          <% end %>

            <div class="col-sm-6">
              <a href="<%= creation_path(v.name) %>">
                <%= image_tag v.thumb.url, alt: v.name, class: 'video_pic' %>
              </a>
            </div>

            <div class="video_info col-sm-6">
              <div class="vote <%= is_voted(v) %>" data-id="<%= v.name %>">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span class="vote_count"><%= v.vote_count %></span>
              </div>

              <h3><%= v.name %></h3>
              <div class="authors">
                <span>作者：</span>

                <span class="author label label-default" title="{$author.author} {$author.sex} {$author.belong}" data-toggle="tooltip" data-placement="top">
                  <i class="glyphicon glyphicon-user"></i>
                  <a>用户</a>
                </span>
              </div>
              <p><%= v.summary %></p>
            </div>

          </div>

        </div>
      <% end %>
      <% end %>
    </div>
    <div class="sidebar col-md-4">
      <div class="ibox ranklist">
        <div class="ibox-title">
          <h3 style="color: #942323">人气作品</h3>
        </div>
        <div class="ibox-content">

          <% if @opus_rank.length > 0 %>
            <div class="top">
              <%= image_tag @opus_rank[0].thumb.url(:thumb),alt: @opus_rank[0].name,class:'video_thumb' %>
              <div class="details">
                <%= link_to @opus_rank[0].name, creation_url(@opus_rank[0].name),class:'work_name',title:@opus_rank[0].name %>
                作者：<%= link_to @opus_rank[0].user.realname, user_detail_path(@opus_rank[0].user.realname) %>
              </div>
            </div>
          <% else %>
            目前还没有已发布的作品！
          <% end %>
          <table class="hot_work table">
            <% @opus_rank.each_with_index do |item,i|%>
              <% unless i == 0 %>
                <tr>
                  <td class="workname">
                    <%= link_to item.name, creation_path(item.name), title: item.name %>
                  </td>
                  <td class="workauthor">
                    <%= link_to item.user.realname, user_detail_path(item.user.realname) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>

        </div>
      </div>

      <!-- 友情链接 -->
      <div class="ibox">
        <div class="ibox-title"><h3>友情链接</h3></div>
        <div class="ibox-content friend_links">
          <ul data-no-turbolink>
            <% @friend_links.each do |x| %>
              <li><a href="<%= x[:link] %>"><i class="glyphicon glyphicon-bookmark"></i> <%= x[:name] %></a></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
