<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta content="河海大学,远程与继续教育学院,远教院,微课程大赛,微课大赛" name="keywords">
  <%= yield :seo_extra %>
  <title><% if @title %><%= @title %>--<% end %>远教院微课大赛官方网站</title>
  <%= stylesheet_link_tag  'bootstrap-pack', media: 'all' %>
  <%= stylesheet_link_tag  'index', media: 'all' %>
  <link rel="shortcut icon" href="/favicon.png">
  <%= yield :before_js %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">
    <div id="logo">
      <%= image_tag 'index/logo.jpg', alt: "微课程大赛", width: 261, height: 136 %>
    </div>
    <div id="header-controls">
      <div class="row">
        <div class="col-md-7">
          <!-- 这里的条件是目前在上传的时间范围内 -->
          <% if Cfg.can_upload? %>
            <!-- 这里的地址需要改掉 -->
            <div class="notification alert alert-info">通知：大赛视频现已可以上传 <%= link_to '[通知详情]',passage_url(@broadcast_passage) unless @broadcast_passage.empty? %></div>
          <% else %>
            <div class="notification alert alert-warning">通知：目前不在作品上传时间内，无法投票/发布/取消发布。 </div>
          <% end %>
        </div>
        <div class="col-md-5">
          <%= form_tag '/search',method: 'get',class:'search_form' do %>
          <div class="input-group" id="search">
            <input type="text" class="form-control" name="q" placeholder="搜索相关选手/视频" value="<%= params['q'] %>">
            <span class="input-group-btn">
              <button class="search_button btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>
          </div>
          <% end %>
        </div>
      </div>

      <div class="header_nav">
        <ul>
          <li <%= index_nav_active(root_url) %>><a href="<%= root_url %>">首 &nbsp; 页</a></li>
          <li <%= index_nav_active(passage_url(@broadcast_passage)) unless @broadcast_passage.empty? %>><%= link_to '大赛介绍',passage_url(@broadcast_passage) unless @broadcast_passage.empty? %></li>
          <li class="<%= 'active' if params[:controller] == 'index/creation' && params[:type] != 'old' %> "><%= link_to '参赛作品', creations_url %></li>
          <% if Cfg.version > 1 %>
          <li class="<%= 'active' if current_page?(controller: 'index/creation', type: 'old') %> "><%= link_to '往届作品', creations_url(type: 'old') %></li>
          <% end %>

          <li class="<%= 'active' if params[:controller] == 'index/usercenter' %>"><%= link_to '用户中心', usercenter_url %></li>
          <li><%= link_to '后台', manage_path,'data-no-turbolink'=> true %></li>
          <div class="clear"></div>
        </ul>
      </div>

    </div>
    <div class="header_top">
      <div class="clear"></div>
    </div>

    <!--[if IE 7.0]><div id="ie7_margin"></div><![endif]-->
  </div>
  <% unless flash[:notice].nil? %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% unless flash[:alert].nil? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>
  <%= yield %>
</div>


<!-- 底部 -->
<div class="footer">
  <div class="footer_copyright text-center">
    Copyright © <%= Date.today.year %> 主办：远程与继续教育学院 团委 教务处 研究生院

    <br>
    承办：江苏水源有限公司 河海大学设计院<br>
    地址：江苏省南京市西康路1号 联系电话： 025-83787964
  </div>
  <div class="to_top"><div class="to_top_icon"></div></div>
</div>
<%= javascript_include_tag 'index/common' %>
<%= javascript_include_tag params[:controller], 'data-turbolinks-track'=> true %>
<%= yield :js %>
</body>
</html>
