<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title><%= @title || '微课大赛后台管理系统' %></title>
    <link rel="shortcut icon" href="/favicon.png">
    <%= stylesheet_link_tag  'bootstrap-pack', media: 'all' %>
    <%= stylesheet_link_tag  'manage', media: 'all' %>
    <%= stylesheet_link_tag   params[:controller], media: 'all' %>
    <%= yield :before_js %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="outer">
      <nav>
        <header>
          <div id="logo">
            <a href="<%= manage_path %>"><%= image_tag "manage/logo.png", id:'logo', alt: '微课大赛后台管理系统' %></a>
          </div>
          <div class="profile">
            <%= session['admin_realname'] || '未登录用户' %>
          </div>
          <div class="actions">
            <%= link_to '回到前台', root_path, class:'btn btn-primary' %>
            <%= link_to '退出登录', manage_logout_path, method: :delete, class: "btn btn-warning" %>
          </div>
        </header>
        <ul class="nav">
          <% @navs.each do |nav| %>
            <% can?(nav[:options][:action], nav[:options][:controller]) do %>
              <% if params[:controller] == nav[:options][:controller] && params[:action] == nav[:options][:action] %>
                <li class="active">
                  <a href="<%= url_for nav[:options] %>" class="link">
                    <i class="glyphicon glyphicon-<%= nav[:icon] %>"></i>
                    <span><%= nav[:text] %></span>
                  </a>
                </li>
              <% else %>
                <li>
                  <a href="<%= url_for nav[:options] %>" class="link">
                  <i class="glyphicon glyphicon-<%= nav[:icon] %>"></i> <%= nav[:text] %></a>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </nav>

      <main role="main">
        <% unless flash[:notice].nil? %>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% unless flash[:alert].nil? %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
        <%= yield %>
      </main>
      <%= debug(params) if Rails.env.development? %>
    </div>


    <%= javascript_include_tag 'manage' %>
    <%= javascript_include_tag params[:controller] %>
    <%= yield :js %>
  </body>
</html>
