<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title><%= @title || '微课大赛后台管理系统' %></title>
    <link rel="shortcut icon" href="/favicon.png">
    <%= stylesheet_link_tag  'bootstrap-pack', media: 'all' %>
    <%= stylesheet_link_tag  'manage', media: 'all' %>
    <%= stylesheet_link_tag   params[:controller], media: 'all' %>
    <%= yield :before_js %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page">
      <!-- ==== START HEADER ==== -->
      <header class="navbar-fixed-top" role="banner">
        <!-- :::: logo :::: -->
        <p class="logo">
          <a href="<%= manage_path %>"><%= image_tag "manage/logo.png", id:'logo', height: 40, width: 313, alt: '微课大赛后台管理系统' %></a>
        </p>

        <!-- :::: user :::: -->
        <div class="dropdown user">
          <a href="#" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><%= session['admin_realname'] || '未登录用户' %> <%= session['admin_name'] %></span>
            <i class="cart"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to '回到前台', root_path, class:'btn btn-primary' %></li>
            <li><%= link_to '退出登录', manage_logout_path, method: :delete, class: "btn btn-warning" %></li>
          </ul>
        </div>
      </header>
      <!-- end header -->

      <!-- ==== Navigation Left==== -->
      <nav role="navigition">
        <div data-scrollbar="true" data-height="100%">

          <ul class="nav accordion" id="accordion" >

            <li class="navigition">Navigation</li>

            <% @navs.each do |nav| %>
              <% if params[:controller] == nav[:options][:controller] && params[:action] == nav[:options][:action] %>
                <li class="has-sub active">
                  <a href="<%= url_for nav[:options] %>" class="link">
                    <i class="glyphicon glyphicon-<%= nav[:icon] %>"></i>
                    <span><%= nav[:text] %></span>
                  </a>
                </li>
              <% else %>
                <li class="has-sub">
                  <a href="<%= url_for nav[:options] %>" class="link"><i class="glyphicon glyphicon-<%= nav[:icon] %>"></i> <%= nav[:text] %></a>
                </li>
              <% end %>
            <% end %>


            <!-- <li class="has-sub active">
              <a href="#" class="link">
                  <i class=" glyphicon glyphicon-blackboard"></i>
                  <span>Dashboard</span>
                  <b class="glyphicon glyphicon-chevron-down"></b>
              </a>
              <ul class="sub sub-default">
                <li><a href="#">Dashboard v1</a></li>
                <li><a href="#">Dashboard v2</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </nav>
      <!-- ==== START RIGHT CONTENT ==== -->
      <main role="main">
        <% unless flash[:notice].nil? %>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% unless flash[:alert].nil? %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
        <%= yield %>
      </main>
      <!-- end content -->
    </div>
    <!-- end page-->
    <%= javascript_include_tag 'manage' %>
    <%= javascript_include_tag params[:controller] %>
    <%= yield :js %>
  </body>
</html>
