<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title><%= @title || '微课大赛后台管理系统' %></title>
    <link rel="shortcut icon" href="/favicon.png">
    <%= stylesheet_link_tag  'bootstrap-pack', media: 'all' %>
    <%= stylesheet_link_tag  'manage', media: 'all' %>
    <%= stylesheet_link_tag   params[:controller], media: 'all' %>
    <%= yield :before_js %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page">

      <!-- ==== START HEADER ==== -->
      <header class="navbar-fixed-top" role="banner">
        <!-- :::: logo :::: -->
        <p class="logo">
          LOGO
        </p>

        <!-- :::: user :::: -->
        <div class="dropdown user">
          <a href="#" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="img/user.jpg" alt="" />
            <span>Adam Schwartz</span>
            <i class="cart"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </header>
      <!-- end header -->


      <!-- ==== Navigation Left==== -->
      <nav role="navigition">
        <div data-scrollbar="true" data-height="100%">

          <ul class="nav accordion" id="accordion" >

            <li class="navigition">Navigation</li>

            <li class="has-sub active">
              <a href="#" class="link">
                  <i class=" glyphicon glyphicon-blackboard"></i>
                  <span>Dashboard</span>
                  <b class="glyphicon glyphicon-chevron-down"></b>
              </a>
              <ul class="sub sub-default">
                <li><a href="#">Dashboard v1</a></li>
                <li><a href="#">Dashboard v2</a></li>
              </ul>
            </li>

            <li class="has-sub">
              <a href="#">
                <i class="glyphicon glyphicon-envelope"></i>
                <span>Email</span>
              </a>
            </li>

            <li class="has-sub">
              <a href="#" class="link">
                <i class="glyphicon glyphicon-briefcase"></i>
                <span>UI Elements</span>
                <b class="glyphicon glyphicon-chevron-down"></b>
              </a>
              <ul class="sub">
                <li><a href="#">General</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Tabs &amp; Accordions</a></li>
              </ul>
            </li>

            <li class="has-sub">
              <a href="#">
                <i class="glyphicon glyphicon-star"></i>
                <span>Form Stuff</span>
                <b class="glyphicon glyphicon-chevron-down"></b>
              </a>
            </li>

            <li class="has-sub">
              <a href="#">
                <i class="glyphicon glyphicon-th"></i>
                <span>Tables</span>
                <b class="glyphicon glyphicon-chevron-down"></b>
              </a>
            </li>

            <li class="has-sub">
              <a href="#">
                <i class="glyphicon glyphicon-export"></i>
                <span>Extra</span>
                <b class="glyphicon glyphicon-chevron-down"></b>
              </a>
            </li>

            <li class="has-sub">
                <a href="#">
                  <i class="glyphicon glyphicon-random"></i>
                  <span>Login & Register</span>
                  <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
            </li>

            <li class="has-sub">
                <a href="#">
                    <i class="glyphicon glyphicon-tree-deciduous"></i>
                    <span>Version</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
            </li>

            <li class="has-sub">
                <a href="#">
                  <i class="glyphicon glyphicon-cog"></i>
                  <span>Helper</span>
                  <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
            </li>

            <li class="has-sub">
              <a href="#">
                <i class="glyphicon glyphicon-align-left"></i>
                <span>Menu Level</span>
                <b class="caret-down pull-right"></b>
              </a>
            </li>

          </ul>
        </div>
      </nav>


      <!-- ==== START RIGHT CONTENT ==== -->
      <main role="main">
        
        <%= yield %>
      </main>
      <!-- end content -->
    </div>
    <!-- end page-->
    <%= javascript_include_tag 'manage' %>
    <%= javascript_include_tag params[:controller] %>
    <%= yield :js %>
  </body>
</html>












    <!--



  <a href="<%= manage_path %>"><%= image_tag "manage/logo.png", id:'logo', height: 40, width: 313, alt: '微课大赛后台管理系统' %></a>

  <div class="pull-right userinfo" id="nav-bar">
    <a class="btn btn-default"><%= session['admin_realname'] || '未登录用户' %> <%= session['admin_name'] %></a>
    <a class="btn btn-primary" href="{:U('Account/Index')}">账户管理</a>
    <%= link_to '回到前台', root_path, class:'btn btn-primary' %>
    <%= link_to '退出登录', manage_logout_path, method: :delete, class: "btn btn-warning" %>
  </div>
  <div class="clear"></div>
</header>

  <section class="container" id="main-container">
    <div class="row">
      <aside class="col-md-3">
        <nav class="list-group">
          <% @navs.each do |nav| %>
            <% if params[:controller] == nav[:options][:controller] && params[:action] == nav[:options][:action] %>
              <a href="<%= url_for nav[:options] %>" class="list-group-item active"><i class="glyphicon glyphicon-<%= nav[:icon] %>"></i> <%= nav[:text] %></a>
            <% else %>
              <a href="<%= url_for nav[:options] %>" class="list-group-item"><i class="glyphicon glyphicon-<%= nav[:icon] %>"></i> <%= nav[:text] %></a>
            <% end %>
          <% end %>
        </nav>
      </aside>
      <main class="col-md-9">
      </main>
    </div>
  </section>


    <link rel="stylesheet" href="__PUBLIC__/plugins/icheck/skins/square/blue.css">
    <link rel="stylesheet" href="__PUBLIC__/plugins/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="__PUBLIC__/backyard/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="__PUBLIC__/plugins/datatables/datatables.css" /> -->
<!--
</head>
<body>

<div class="main">

    <div class="navigator">
        <ul>
            {//输出目录列表}
            <?php foreach($_SESSION[CF('NAV_KEY')] as $key=>$val): ?>
            <li <?php if($key==ucfirst(strtolower(MODULE_NAME))) echo "class=\"active\"" ?>>
                <a href="<?php echo U($key.'/'.current(array_keys($val))); ?>">
                    <i class="icon-{$val.MODULE_ICON} icons-white"></i>
                    {$val.MODULE_TITLE}</a>
            </li>
            <?php endforeach ?>
        </ul>
    </div>

    <div class="content">

        <div class="nav-bar">

            <ul class="nav-item">
                <block name="nav-item">
                <?php foreach($_SESSION[CF('NAV_KEY')][MODULE_NAME] as $key=>$val): ?>
                <?php if(in_array($key, array('MODULE_ICON','MODULE_TITLE'))) continue; ?>
                <li <?php if($key==ucfirst(strtolower(ACTION_NAME))) echo "class=\"current\"" ?>>
                  <a href="<?php echo U(MODULE_NAME.'/'.$key); ?>">
                        <i class="icon-<?php echo $val[1]; ?> icons-white"></i>
                        <?php echo $val[0]; ?></a>
                </li>
                <?php endforeach; ?>
                </block>
                <block name="ext-nav-item"></block>
            </ul>
        </div>

        <div class="content-body">
        <present name="msg">
        <div class="alert <if condition='$msg[0]==0'>alert-error<else />alert-success</if>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {$msg.1}
        </div>
        <php>XS('message',null);</php>
        </present>
          <block name="content"></block>

            <div class="footer">
                <small> __NAME__ 后台管理系统 &#169; Copyright {:date('Y')} __DEPART__ | <a href="#">回到顶部</a> </small>
            </div>
        </div>
    </div>
</div>
</div>

<script src="__PUBLIC__/js/jquery.js"></script>
{// 模拟产生本地ajax请求 }
<script src="__PUBLIC__/js/jquery.mockjax.js"></script>
<script src="__PUBLIC__/js/bootstrap.js"></script>
<script src="__PUBLIC__/plugins/icheck/jquery.icheck.min.js"></script>
<script src="__PUBLIC__/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="__PUBLIC__/js/jquery.autocomplete.js"></script>
<script src="__PUBLIC__/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/bootstrap-datetimepicker/js/locale.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/datatables/dataTables.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/datatables/bootstrap.plugin.js"></script>


</body>
</html> -->
